
header{
	position: fixed;
}

body{

width: 100%;
height: 100%;
font-family: "Didot";
background-color: #000000;
position: relative;


}

.container {


margin-bottom: 2%;
width: 100%;
height: 100%;
padding-top: 5px;


}

#titlemovie {
margin-bottom: 2%;
width: 100%;
height:100%;
position: relative;
display: block;
}

video::-webkit-media-controls {
  display:none !important;
}

.container1{
height: 1200px;
width: 1000px;
position: relative;
padding-left: 100px;
background-color: #F7E945;
padding-top: 20px;
font-size: 20px;
border-top: 1px;
margin:100px;
}

#firstword {
	font-family:"Didot";
	font-size: 85px;
	color: #000000;

}