body {background-color: black;}
#page {background-color: black;
		width: 100%;
		height: 5000px;}
#img {
		width: 100%;
		background-image: url("Media/Hands.jpg"); 
		background-attachment: fixed;
		background-repeat: no-repeat;
		background-position: center;
		}
#image {height: 959px; 
		width: 100%;
		background-image: url("Media/Abuelita.jpg"); 
		background-attachment: fixed;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;}
#image2 {height: 997px;
		background-image: url("Media/Euclides.jpg"); 
		background-attachment: fixed;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;}
#image3 {height: 900px; 
		width: 100%;
		background-image: url("Media/Nunez.jpg"); 
		background-attachment: fixed;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;}
#image4 {height: 900px; 
		width: 100%;
		background-image: url("Media/Miguel.jpg"); 
		background-attachment: fixed;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;}
#image5 {height: 900px; 
		width: 100%;
		background-image: url("Media/Francisco.jpg"); 
		background-attachment: fixed;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;}
p 	{color: white;
		font-family: 'Aladin', Georgia; 
		font-size: 25px;
		line-height: 40px;
		letter-spacing: 7px;
		text-shadow: 0 0 0.1em black, 0 0 0.1em black,
        0 0 0.1em black;}
.content {text-align: right;
		padding-right: 20px;
		width: 550px;
		float: right;}
#header {background-color: white;
		margin-left: 50%;
		opacity: .4;
		color: white;
		height: 75px;
		width: 500px;
		box-shadow: 5px 5px 2px;}
.audio {margin-left: 50px;
		padding-top: 20px;
		padding-right: 20px;
		float: right;}
.quote {color: white;
		font-family: Times;
		font-size: 80px;
		width: 600px;
		text-align: right;
		float: right;}
#titlebox {height: 900px; 
		width: 100%;}
#title {color: white;
		font-size: 120px;
		padding-left: 50px;
		padding-top: 50px;
		font-weight: 100;
		width: 1000px;}
h2 {color: white;
		margin-right: 10%;
		font-family: times;
		font-weight: 100;
		font-size: 40px;
		float: right;
		padding-top: 50px;}
.name {font-size: 25px;
		font-family: Times;
		letter-spacing: 1px;
		padding-right: 20px;
		line-height: 5px;}

