html, body { 
	margin:0;
	padding:0;background:#000;
}

h1 {font-family: 'Amatic SC', cursive;
    font-size:150px;
    margin: 0 0 10px 0;

    color: white;
text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;}

h2 {font-family: 'Amatic SC', cursive;
    font-size:120px;
    margin: 0 0 10px 0;

    margin: 0 0 10px 0;
    color:white;
text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;}
/*}*/

h3 {font-family: 'Josefin Slab', serif;
	font-size: 24px;
	color:white;
    
}

p {font-family: 'Amatic SC', cursive;
font-size: 24px;
color:white;
}

img {
max-width: 100%;
}



.box { 
	padding:5px;
	/*border-radius:5px;*/
	margin-bottom:20px;
	z-index: 99;
	
	
}

.heading { 
	padding:5px;
	margin-top: 20px;
	margin-left: 20px;
	max-width: 600px;
	/*border-radius:5px;*/
	margin-bottom:20px;

	
	
}

#overview {border-radius:5px;
	z-index: 99;
	width:700px;
	margin-left: 50px; 
	position: absolute;}

#text {
	background:#444; background:rgba(0,0,0,.6);
	border-radius:3px;
	margin-top: 320px;
 	margin-left: 590px;
 	width:550px;
 	margin-bottom: 50px;
 	z-index:99;
 	position: relative;
 	
 }

 #text2 {
	background:#444; background:rgba(0,0,0,.6);
	padding:10px;
	border-radius:5px;
	margin-top: 0px;
	margin-bottom:40px;
	margin-left: 50px;
 	position: relative;
 	width:550px;
 }

 #text3 {
	background:#444; background:rgba(0,0,0,.6);
	border-radius:5px;
 	margin-left: 540px;
	 	width:550px;
	 	position:relative;}

#text4 {
	background:#444; background:rgba(0,0,0,.6);
	border-radius:5px;
 	margin-left: 80px;
 	margin-top: 30px;
	 	width:550px;
	 	position: relative;}

#text5 {
	background:#444; background:rgba(0,0,0,.6);
	border-radius:5px;
 	margin-right: 200px;
 	margin-bottom: 750px;
 	margin-top: -100px;
 	position: relative;
	 	width:550px;
	 	float:right;}

 #freefree h2 {
 	margin-top: 20px; 
 	color: #60b600;
 	margin-left:90px;
 	font-size: 120px;
 	position: relative;
 	z-index: 99;

 }

#cutthefat h2 {
 	margin-top: 20px; 
 	color: #b60060;
 	margin-left:100px;
 	position: relative;
 	z-index:99;
 }

 #hungry h2 {color:#b6b100;
 	margin-left:80px;
 	/*isplay: absolute;*/
 	max-width: 600px;
 position: relative;
 	z-index:99;}

 #hatepizza h2 {
margin-left: 100px;
 	color:#0060b6;
 	position: relative;
 	z-index:99;
 }

 #author {margin-top: 205px;
 	width: 200px	;}

.main {
	position:relative;
	margin:50px 50px 440px 220px;
	min-width:300px;
	-webkit-transition-duration:0.6s;-moz-transition-duration:0.6s;-ms-transition-duration:0.6s;-o-transition-duration:0.6s;transition-duration:0.6s;
} 

@media (max-width: 800px) {
h3 {font-size:20px;}
h1, h2 {font-size:80px; max-width: 500px;}
#text2, #text3, #text4 {margin-left: 50px; margin-right: 300px;
width: 450px;}
#text {margin-left: 50px; margin-top: 370px; margin-right: 300px;
width: 450px;}
#text5 {margin-left: 50px; margin-right: 250px; margin-top: 5px;
width: 450px;}
}

@media (max-width: 400px) {
h3 {font-size:16px;}
h1, h2 {font-size:50px; width:300px;}
#freefree h2 {font-size: 50px;}
#text, #text2, #text3, #text4, #text5 {width:300px;} 
#text5 {margin-right: 30px;}
#text{margin-top: 250px;}}


