body{
	text-align: center;
}

#wrapper {
	margin-top: 30px;
	margin-bottom: 30px;
}

#headline{
	line-height: 1.5em;
}

#h1{
	font-family: Impact;
	font-size: 35px;
	text-transform: uppercase;
	margin-top: 20px;
	margin-bottom: 20px;
	letter-spacing: 0.05em;
}

#byline{
	text-align: center;
	font-family: Times, serif;
	font-size: 17px;
	margin-top: 40px;
	margin-bottom: 30px;
}

#intro{
	font-family: Georgia, Times, Serif;
	font-size: 20px;
	letter-spacing: 0.04em;
	line-height: 1.2em;
	color:gray;
	font-weight: lighter;
	margin-top: 30px;
}

.photos{
	margin-top: 30px;
	max-width: 100%;
}

.attribution{
	text-align: left;
	font-family: times, Serif;
	font-size: 13px;
	color: gray;
	margin-bottom: 30px;
}

#para{
	float:left;
	margin-top: 10px;
	margin-bottom: 20px;
}

#numbers{
	text-align: center;
	font-family: Impact;
	font-size: 125px;
	color:gray;
	margin-left: 30px;
}

#textdiv{
	width: 520px;
	margin-left: 25px;
}

#h3{
	text-align: center;
	text-transform: uppercase;
	font-family: Impact;
	font-size: 22px;
	letter-spacing:0.07em;
	line-height: 1em;
	margin-bottom: 20px;
}

.text{
	font-family: Georgia, Times, Serif;
	font-size: 17px;
	letter-spacing: 0.03em;
	line-height: 1.25em;
	font-weight: lighter;
	text-align: left;
}

#map{
	margin-left: 25px;
	margin-top: 40px;
}

#media img{
	float:left;
	margin-top: 10px;
	width: 30px;
}

#twitter img{
	padding-left: 10px;
}

img {
    opacity: 0.6;
    filter: alpha(opacity=50);
}

img:hover {
    opacity: 1.0;
    filter: alpha(opacity=100);
}





