body{
	text-align: center;
}

#wrapper {
	margin-top: 30px;
	margin-bottom: 30px;
}

#headline{
	line-height: 1.5em;
}

#h1{
	font-family: Impact;
	font-size: 35px;
	text-transform: uppercase;
	margin-top: 20px;
	margin-bottom: 20px;
	letter-spacing: 0.5px;
}

#byline{
	text-align: center;
	font-family: Times, serif;
	font-size: 17px;
	margin-top: 40px;
	margin-bottom: 30px;
}

#intro{
	font-family: Helvetica, sans-serif;
	font-size: 20px;
	letter-spacing: 0.04em;
	line-height: 1.2em;
	color:gray;
	font-weight: lighter;
	margin-top: 30px;
}

.photos{
	margin-top: 30px;
}

.attribution{
	text-align: left;
	font-family: times, Serif;
	font-size: 13px;
	color: gray;
	margin-bottom: 30px;
}

#para{
	float:left;
	margin-top: 10px;
	margin-bottom: 20px;
}

#numbers{
	text-align: center;
	font-family: Impact;
	font-size: 125px;
	color:gray;
	margin-left: 40px;
	margin-top: 10px;
}

#textdiv{
	width: 500px;
	margin-left: 40px;
}

#h3{
	text-align: center;
	text-transform: uppercase;
	font-family: Impact;
	font-size: 22px;
	letter-spacing:0.07em;
	line-height: 1em;
	margin-bottom: 20px;
}

.text{
	font-family: Times, serif;
	font-size: 17px;
	letter-spacing: 0.03em;
	line-height: 1.25em;
	font-weight: lighter;
	text-align: left;
}

#map{
	margin-left: 20px;
	margin-top: 50px;
}







