body{
	line-height: 1.2em;
	letter-spacing:0.03em;
	text-align: center;
}

h1{
	font-family: Impact;
	font-size: 38px;
	text-transform: uppercase;
}

.headline{
	width:60%;
	padding:0.5px;
	margin:5px auto 30px auto;
	line-height: 1.5em;
}

.intro{
	font-family: Helvetica, sans-serif;
	font-size: 20px;
	letter-spacing: 0.04em;
	color:gray;
}

.photos{
	padding:0px;
	margin:8px 5px 0px 5px;
}

.attribution{
	text-align: left;
	font-family: times, Serif;
	font-size: 13px;
	color: gray;
}

.attrdiv{
	margin:0px 0px 0px 43px;
}

.para{
	float:left;
}

.numbers{
	padding:2px;
	margin:0px 5px 40px 65px;
	width:13%;
}

h3{
	text-align: center;
	font-family: Impact;
	font-size: 125px;
	color:gray;
}

.textdiv{
	padding:0px;
	margin:0px 0px 40px 48px;
	width:47%;
	text-align: left;
}

h4{
	text-align: center;
	text-transform: uppercase;
	font-family: Impact;
	font-size: 26px;
	letter-spacing:0.05em;
	line-height: 1em;
}

.map{
	padding:0px;
	margin:30px 0px 40px 30px;
	width:25%;
}

.text{
	font-family: Times, serif;
	font-size: 17px;
	letter-spacing: 0.05em;
	line-height: 1.25em;
}

h5{
	text-align: center;
	font-family: Times, serif;
	font-size: 16px;
}





