body {
	margin: 0px;
	padding: 0px;
	background-color: #DCF7F3;
}

.page {
	width: 1000px;
	height: 950px;
	margin-left: 50px;
	margin-right: 50p;
	margin-top: 10px;
}

.header {
	width: 1000px;
	height: 90px;
	background-color: #FFE5CF;
	margin-top: 0px;
	margin-bottom: 20px;
	border-left: 1px dashed #F5A2A2;
	border-right: 1px dashed #F5A2A2;
	border-top: 1px dashed #F5A2A2;
	border-bottom: 1px dashed #F5A2A2;
	padding-top: 5px;
	padding-bottom: 40px;
}

h1 {
	text-align: center;
	color: #805841;
	font-family: Minion Pro;
	font-weight: bold;
	font-size: 38px;
	padding-top: 0px;
}

h3 {
	text-align: center;
	font-family: Georgia;
	color: 805841;
	font-size: 16px;

}

h4 {
	text-align: center;
	font-family: Minion Pro;
	color: 805841;
	font-size: 20px;
}

h5 {
	text-align: center;
	font-family: Georgia, serif;
	color: 805841;
	font-size: 14px;
}

.content {
	color: 805841;
	font-family: Georgia;
	font-size: 15px;
}

.recipe1 {
	width: 360px;
	height: 750px;
	background-color: #EDEDED;
	border: 1px dashed #F5A2A2;
	float:left;
	margin-right: 10px;
	padding-left: 10px;
	padding-right: 10px;
}

.recipe2 {
	width: 360px;
	height: 750px;
	background-color: #EDEDED;
	border: 1px dashed #F5A2A2;
	float:left;
	margin-left: 10px;
	padding-left: 10px;
	padding-right: 10px;
}

.sidebar{
	width: 160px;
	height: 375px;
	background-color: #EDEDED;
	border: 1px dashed #F5A2A2;
	float: right;
	padding-right: 10px;
}

.list {
	font-family: Book Antiqua, Georgia, serif;
	color: #805841;
	font-size: 14px;
}

.credit {
	text-align: center;
	font-family: Georgia;
	color: #805841;
	font-size: 14px;
}
