html{
	margin:0;
	padding:0;
	border:0;
}
.header{
	font-family: 'Lusitana', serif;
	font-size:20px;
}

.big{
	font-family: 'Lusitana', serif;
	font-size: 40px;
	font-weight:bold;
	color: #3c3eb5;
}

#outer-header {
  position: relative;
  width:100%;
}

#inner-header {
  top: 375px;
  left: 50px;
  position: absolute;
  width:100%;
}

#title {
	font-family: 'Poiret One', cursive;
	font-size: 40px;
	color: white;
}


h1{
	font-family: Helvetica, serif;
	font-size:25px;
}

h2{
	font-family:Helvetica, Arial, Sans-serif;
	font-size:16px;
}

p{
	font-family: 'Lusitana', Arial, sans-serif;
    font-size: 19px;
    text-indent: 50px;
} 
