

h1
	{
		text-align:center;
		font-size: 30px;
		font-family:Helvetica;

	}

h3
	{
		color:#990033;
		text-align:center;

	}

.argentina 
	{
		height: 400px;
		width: 400px;
		position: relative;
		float:left;
		border: solid;
		border-width: 3px;
		border-color:#2E000F;
		margin-left:25px;
		margin-top: 25px;
		padding:10px;
		background-color:white;
		text-align:center;
	}

.brazil 
	{
		height: 400px;
		width: 400px;
		position: relative;
		float:left;
		border: solid;
		border-width: 3px;
		border-color:#2E000F;
		margin-left:25px;
		margin-top: 25px;
		padding:10px;
		background-color:white;
		text-align:center;

	}

.mexico 
	{
		height: 400px;
		width: 400px;
		position: relative;
		float:left;
		border: solid;
		border-width: 3px;
		border-color:#2E000F;
		margin-left:25px;
		margin-top: 25px;
		padding:10px;
		background-color:white;
				text-align:center;

	}


.venezuela 
	{
		height: 400px;
		width: 400px;
		position: relative;
		float:left;
		border: solid;
		border-width: 3px;
		border-color:#2E000F;
		margin-left:25px;
		margin-top: 25px;
		padding:10px;
		background-color:white;
				text-align:center;

	}

.cuba 
	{
		height: 400px;
		width: 400px;
		position: relative;
		float:left;
		border: solid;
		border-width: 3px;
		border-color:#2E000F;
		margin-left:25px;
		margin-top: 25px;
		padding:10px;
		background-color:white;
				text-align:center;

	}

.puerto 
	{
		height: 400px;
		width: 400px;
		position: relative;
		float:left;
		border: solid;
		border-width: 3px;
		border-color:#2E000F;
		margin-left:25px;
		margin-top: 25px;
		padding:10px;
		background-color:white;
				text-align:center;

	}

.colombia 
	{
		height: 400px;
		width: 400px;
		position: relative;
		float:left;
		border: solid;
		border-width: 3px;
		border-color:#2E000F;
		margin-left:25px;
		margin-top: 25px;
		padding:10px;
		background-color:white;
				text-align:center;

	}

.dominican 
	{
		height: 400px;
		width: 400px;
		position: relative;
		float:left;
		border: solid;
		border-width: 3px;
		border-color:#2E000F;
		margin-left:25px;
		margin-top: 25px;
		padding:10px;
		background-color:white;
				text-align:center;

	}

.ny 
	{
		height: 400px;
		width: 400px;
		position: relative;
		float:left;
		border: solid;
		border-width: 3px;
		border-color:#2E000F;
		margin-left:25px;
		margin-top: 25px;
		padding:10px;
		background-color:white;
				text-align:center;

	}

.panama 
	{
		height: 400px;
		width: 400px;
		position: relative;
		float:left;
		border: solid;
		border-width: 3px;
		border-color:#2E000F;
		margin-left:25px;
		margin-top: 25px;
		padding:10px;
		background-color:white;
				text-align:center;

	}








