h1
	{
		color:red;
		text-align:center;
		background-color: white;
		opacity: 0.5;
	}

body
	{
		background-image:url('http://media4.teenormous.com/items/ih3.redbubble.net/image.13040680.2436-fc-550x550-baby_blue.u2.jpg')

	}


.peanut
	{
background-color:yellow;
		height: 500px;
		float:left;
		width: 450px;
		position: relative;
		border:3px solid;
		border-color:white;
		margin-left:25px;
		margin-top: 25px;
		padding:15px;


	}
.chip
	{
		background-color:yellow;
		height: 500px;
		float:right;
		width: 450px;
		position: relative;
		border:3px solid;
		border-color:white;
		margin-right:25px;
		margin-top: 25px;
		padding:15px;		
	}


