body {background-color: black;}
#page {background-color: black;
		width: 100%;
		height: 100%;}
#img {width: 90%;
		height: 100%;
		margin-left: 5%;
		background-image: url("Media/Hands.jpg"); 
		background-attachment: fixed;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;}
#image {width: 90%;
		height: 100%;
		margin-left: 5%;
		background-image: url("Media/Abuelita.jpg"); 
		background-attachment: fixed;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;}
#image2 {width: 90%;
		height: 100%;
		margin-left: 5%;
		background-image: url("Media/Euclides.jpg"); 
		background-attachment: fixed;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		}
#image3 {width: 90%;
		height: 100%;
		margin-left: 5%;
		background-image: url("Media/Nunez.jpg"); 
		background-attachment: fixed;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;}
#image4 {width: 90%;
		height: 100%;
		margin-left: 5%;
		background-image: url("Media/Miguel.jpg"); 
		background-attachment: fixed;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;}
#image5 {width: 90%;
		height: 100%;
		margin-left: 5%;
		background-image: url("Media/Francisco.jpg"); 
		background-attachment: fixed;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;}
p 	{color: white;
		font-family: Times; 
		font-size: 22px;
		line-height: 32px;
		letter-spacing: 2px;
		text-shadow: 0 0 0.1em black, 0 0 0.1em black,
        0 0 0.1em black;}
.content {text-align: right;
		padding-right: 20px;
		width: 550px;
		float: right;
		padding-top: 20px;}
.audio {
		padding-top: 10px;
		padding-right: 20px;
		float: right;}
.quote {color: white;
		font-family: Times;
		font-size: 80px;
		width: 700px;
		text-align: right;
		float: right;}
#titlebox {height: 100%;
		width: 100%;}
#title {color: white;
		font-size: 100px;
		padding-left: 50px;
		padding-top: 50px;
		font-weight: 400;
		font-family: 'Josefine Slab', serif;}
.name {font-size: 25px;
		font-family: Times;
		letter-spacing: 1px;
		padding-right: 20px;
		line-height: 5px;}
em {font-size: 30px;
		float: right;
		padding-top: 20px;
		color: white;
		padding-right: 10%;}
.scroll {float: right;
	display: none;}
.hide {display: none;
		position: relative;
		bottom: 5px;
		right: 5px;
		color: white;
		font-family: Times;
		font-size: 30px;
		text-align: right;
		float: right;
		padding-right: 0;
		margin-right: 5%;}
.exp {float: right;
	z-index: 1;
}
#box1 {display: inherit;}
#box2 {display: inherit;}
#box3 {display: inherit;}
#box4 {display: inherit;}
#box5 {display: inherit;}


@media (max-width: 800px) {

#page {background-color: black;
		width: 100%;
		height: 100%;}
img {position: absolute;
z-index: -1;}

#img {background-size: 100%;}
#image {max-width: 100%;}
#image2 {max-width: 100%;}
#image3 {background-size: 100%;}
#image4 {max-width: 100%;}

p 	{color: white;
		font-family: Helvetica; 
		font-size: 16px;
		line-height: 16px;
		letter-spacing: 3px;
		font-weight: 100;
		text-shadow: 0 0 0.1em black, 0 0 0.1em black,
        0 0 0.1em black;}
.quote {color: white;
		font-family: Times;
		font-size: 30px;
		text-align: right;
		float: right;
		width: 100%;
		height: 100%;
		background-color: black;
		opacity: .6;
		margin-top: 0%;
		padding-right: 0;
		overflow: scroll;}
.expanded {display: inherit;
		height: 100%;}

#title {color: white;
		font-size: 30px;
		font-weight: 100;
		padding-top: 20%;
		padding-left: 5px;
		width: 90%;
		font-weight: 400;
		font-family: 'Josefine Slab', serif;}
body {background-color: black;}
.content {text-align: right;
		width: 80%;
		float: right;
	}
#titlebox {
		height: 50%;}
em {float: right;
		padding-right: 5%;
		font-size: 18px;}
.audio {height: 40; width: 80px;
		padding-top: 40px;
		padding-right: 15px;
		float: right;}
.name {font-size: 18px;
		font-family: Times;
		letter-spacing: 1px;
		line-height: 20px;
		text-align: right;
		padding-left: 30px;
		float: right;}
.scroll {display: inherit;
		width: 20px;}
.hide {display: inherit;
		position: relative;
		top: 80%;
		color: white;
		font-family: Times;
		font-size: 40px;
		text-align: right;
		float: right;
		padding-right: 0;
		margin-right: 0;}
.exp {position: relative;
	float: right;}
.show {display: none;}
#box1 {display: none;}
#box2 {display: none;}
#box3 {display: none;}
#box4 {display: none;}
#box5 {display: none;}
	}


