body {background-color: black;
margin: 0px;}
#page {background-color: black;
		width: 100%;
		height: 100%;}
#img {width: 90%;
		height: 100%;
		margin-left: 5%;
		background-image: url("Media/Hands.jpg"); 
		background-attachment: fixed;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;}
#image {width: 90%;
		height: 100%;
		margin-left: 5%;
		background-image: url("Media/Abuelita.jpg"); 
		background-attachment: fixed;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;}
#image2 {width: 90%;
		height: 100%;
		margin-left: 5%;
		background-image: url("Media/Euclides.jpg"); 
		background-attachment: fixed;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		}
#image3 {width: 90%;
		height: 100%;
		margin-left: 5%;
		background-image: url("Media/Nunez.jpg"); 
		background-attachment: fixed;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;}
#image4 {width: 90%;
		height: 100%;
		margin-left: 5%;
		background-image: url("Media/Miguel.jpg"); 
		background-attachment: fixed;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;}
#image5 {width: 90%;
		height: 100%;
		margin-left: 5%;
		background-image: url("Media/Francisco.jpg"); 
		background-attachment: fixed;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;}
p 	{color: white;
		font-family: Times; 
		font-size: 22px;
		line-height: 32px;
		letter-spacing: 2px;
		text-shadow: 0 0 0.1em black, 0 0 0.1em black,
        0 0 0.1em black;}
.content {text-align: right;
		padding-right: 20px;
		width: 550px;
		float: right;
		padding-top: 20px;}
.audio {
		padding-top: 10px;
		padding-right: 20px;
		float: right;}
.quote {color: white;
		font-family: Times;
		font-size: 80px;
		width: 700px;
		text-align: right;
		float: right;}
#titlebox {height: 100%;
		width: 100%;}
#title {color: white;
		font-size: 85px;
		font-style: normal;
		padding-left: 20px;
		padding-top: 50px;
		font-weight: 400;
		line-height: 0.87;
		word-spacing: -0.02em;
		font-family: 'Josefine Slab', serif;}
.name {font-size: 25px;
		font-family: Times;
		letter-spacing: 1px;
		padding-right: 20px;
		line-height: 5px;}
.name {font-size: 18px;
		float: right;
		padding-top: 50px;
		color: white;
		padding-right: 5%;
		font-weight: 100;
	font-family: 'georgia', serif;}
.scroll {float: right;
		display: none;}
audio {display: none;}



@media (max-width: 800px) {

#page {background-color: black;
		width: 100%;
		height: 100%;}

#img {max-width: 100%;
		max-height: 100%;
		background-image: url("Media/Hands.jpg"); 
		background-attachment: scroll;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		margin-left: 5%;
		}
#image {max-width: 100%;
		max-height: 100%;
		background-image: url("Media/Abuelita.jpg"); 
		background-attachment: scroll;
		background-size: 200%;
		background-repeat: no-repeat;
		background-position: center;
		overflow: hidden;
	margin-left: 5%;
margin-bottom: 150px;}
#image2 {max-width: 100%;
		max-height: 100%;
		background-image: url("Media/Euclides.jpg"); 
		background-attachment: scroll;
		background-size: 200%;
		background-repeat: no-repeat;
		background-position: center;
		overflow: hidden;
	margin-left: 5%;
margin-bottom: 150px;}
#image3 {max-width: 100%;
		height: 100%;
		background-image: url("Media/Nunez.jpg"); 
		background-attachment: scroll;
		background-size: 150%;
		background-repeat: no-repeat;
		background-position: center;
		overflow: hidden;
	margin-left: 5%;
margin-bottom: 150px;}
#image4 {max-width: 100%;
		max-height: 100%;
		background-image: url("Media/Miguel.jpg"); 
		background-attachment: scroll;
		background-size: 200%;
		background-repeat: no-repeat;
		background-position: center;
		overflow: hidden;
	margin-left: 5%;
margin-bottom: 150px;}
#image5 {max-width: 100%;
		max-height: 100%;
		background-image: url("Media/Francisco.jpg"); 
		background-attachment: scroll;
		background-size: 200%;
		background-repeat: no-repeat;
		background-position: center;
		overflow: hidden;
	margin-left: 5%;
margin-bottom: 150px;}
p 	{color: white;
		font-family: Helvetica; 
		font-size: 16px;
		line-height: 16px;
		letter-spacing: 3px;
		font-weight: 100;
		text-shadow: 0 0 0.1em black, 0 0 0.1em black,
        0 0 0.1em black;}
.quote {color: white;
		font-family: Times;
		font-size: 30px;
		text-align: right;
		float: right;
		width: 100%;
		background-color: black;
		opacity: .6;
		margin-top: 110%;
		padding-right: 0;}
.expanded {margin-top: 5%;
		height: 100%;
		overflow: scroll;}
#title {color: white;
		font-size: 25;
		padding-top: 20%;
		padding-left: 5%;
		width: 90%;
		font-weight: 400;
		font-family: 'Josefine Slab', serif;}
body {background-color: black;}
.content {text-align: left;
		width: 80%;
		float: right;
		padding-right: 0;}
#titlebox {height: 50%;}
.name {float: right;
		padding-right: 5%;
		font-size: 12px;}
.audio {height: 40; width: 80px;
		padding-top: 40px;
		padding-right: 15px;
		float: right;}
.name {font-size: 12px;
		float: right;
		padding-top: 10px;
		color: white;
		padding-right: 5%;
		font-weight: 100;
	font-family: 'georgia', serif;}
.scroll {display: inherit;}
audio {display: inherit;}
	}



