body {background-color: black;}
#page {background-color: black;
		width: 100%;
		height: 100%;}
#img {height: 115%;
		background-image: url("Media/Hands.jpg"); 
		background-attachment: fixed;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		}
#image {height: 120%;
		background-image: url("Media/Abuelita.jpg"); 
		background-attachment: fixed;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;}
#image2 {height: 110%;
		background-image: url("Media/Euclides.jpg"); 
		background-attachment: fixed;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;}
#image3 {height: 100%;
		background-image: url("Media/Nunez.jpg"); 
		background-attachment: fixed;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;}
#image4 {height: 100%;
		background-image: url("Media/Miguel.jpg"); 
		background-attachment: fixed;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;}
#image5 {height: 100%;
		background-image: url("Media/Francisco.jpg"); 
		background-attachment: fixed;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;}
p 	{color: white;
		font-family: Georgia; 
		font-size: 22px;
		line-height: 32px;
		letter-spacing: 2px;
		text-shadow: 0 0 0.1em black, 0 0 0.1em black,
        0 0 0.1em black;}
.content {text-align: right;
		padding-right: 20px;
		width: 550px;
		float: right;
		padding-top: 20px;}
.audio {
		padding-top: 10px;
		padding-right: 20px;
		float: right;}
.quote {color: white;
		font-family: Times;
		font-size: 80px;
		width: 700px;
		text-align: right;
		float: right;}
#titlebox {height: 100%;
		width: 100%;}
#title {color: white;
		font-size: 120px;
		padding-left: 50px;
		padding-top: 50px;
		font-weight: 100;}
.name {font-size: 25px;
		font-family: Times;
		letter-spacing: 1px;
		padding-right: 20px;
		line-height: 5px;}
img {max-width: 1404px;}
em {font-size: 30px;
	float: right;
	padding-top: 20px;
	color: white;
	padding-right: 10%;}



@media (max-width: 800px) {

#page {background-color: black;
		width: 100%;}

#img {
	background-image: url("Media/Hands.jpg"); 
		background-attachment: scroll;
		background-size: 100%;
		background-repeat: no-repeat;
		background-position: center;
		overflow: scroll;
		}
#image {
	background-image: url("Media/Abuelita.jpg"); 
		background-attachment: scroll;
		background-size: 200%;
		background-repeat: no-repeat;
		background-position: center;
		overflow: scroll;}
#image2 {
		background-image: url("Media/Euclides.jpg"); 
		background-attachment: scroll;
		background-size: 200%;
		background-repeat: no-repeat;
		background-position: center;
		overflow: scroll;}
#image3 {
		background-image: url("Media/Nunez.jpg"); 
		background-attachment: scroll;
		background-size: 150%;
		background-repeat: no-repeat;
		background-position: center;
		overflow: scroll;}
#image4 {
		background-image: url("Media/Miguel.jpg"); 
		background-attachment: scroll;
		background-size: 200%;
		background-repeat: no-repeat;
		background-position: center;
		overflow: scroll;}
#image5 {
		background-image: url("Media/Francisco.jpg"); 
		background-attachment: scroll;
		background-size: 200%;
		background-repeat: no-repeat;
		background-position: center;
		overflow: scroll;}
p 	{color: white;
		font-family: Helvetica; 
		font-size: 16px;
		line-height: 16px;
		letter-spacing: 3px;
		font-weight: 100;
		text-shadow: 0 0 0.1em black, 0 0 0.1em black,
        0 0 0.1em black;}
.quote {color: white;
		font-family: Times;
		font-size: 30px;
		text-align: right;
		float: right;
		width: 100%;
		background-color: black;
		opacity: .6;
		margin-top: 100%;
		padding-right: 5%;}
#title {color: white;
		font-size: 45px;
		font-weight: 100;
		padding-top: 20%;
		padding-left: 5px;}
body {background-color: black;}
.content {text-align: justify;
		width: 80%;
		float: right;
	}
#titlebox {
		height: 100%;}
#title {width: 90%;}
em {float: right;
		padding-right: 5%;
	}
.audio {height: 40; width: 80px;
		padding-top: 40px;
		padding-right: 15px;
		float: right;}
.name {font-size: 18px;
		font-family: Times;
		letter-spacing: 1px;
		line-height: 20px;
		text-align: right;
		padding-left: 30px;
		float: right;}
}

