body {background-color: black;}
#page {background-color: black;
		width: 100%;
		height: 100%;}
#img {width: 100%;
		background-image: url("Media/Hands.jpg"); 
		background-attachment: fixed;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		}
#image {height: 900px; 
		width: 100%;
		background-image: url("Media/Abuelita.jpg"); 
		background-attachment: fixed;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;}
#image2 {height: 900px;
		background-image: url("Media/Euclides.jpg"); 
		background-attachment: fixed;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;}
#image3 {height: 900px; 
		width: 100%;
		background-image: url("Media/Nunez.jpg"); 
		background-attachment: fixed;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;}
#image4 {height: 900px; 
		width: 100%;
		background-image: url("Media/Miguel.jpg"); 
		background-attachment: fixed;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;}
#image5 {height: 900px; 
		width: 100%;
		background-image: url("Media/Francisco.jpg"); 
		background-attachment: fixed;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;}
p 	{color: white;
		font-family: 'Aladin', Georgia; 
		font-size: 22px;
		line-height: 35px;
		letter-spacing: 7px;
		text-shadow: 0 0 0.1em black, 0 0 0.1em black,
        0 0 0.1em black;}
.content {text-align: right;
		padding-right: 20px;
		width: 550px;
		float: right;}
.audio {
		padding-top: 10px;
		padding-right: 20px;
		float: right;}
.quote {color: white;
		font-family: Times;
		font-size: 80px;
		width: 700px;
		text-align: right;
		float: right;}
#titlebox {height: 900px; 
		width: 100%;}
#title {color: white;
		font-size: 120px;
		padding-left: 50px;
		padding-top: 50px;
		font-weight: 100;
		width: 1000px;}
h2 {color: white;
		padding-right: 50px;
		font-family: times;
		font-weight: 100;
		font-size: 40px;
		float: right;
		padding-top: 50px;}
.name {font-size: 25px;
		font-family: Times;
		letter-spacing: 1px;
		padding-right: 20px;
		line-height: 5px;}

@media (max-width: 800px) {
  #page {background-color: black;
  	width: 100%;
  	height: 2000px;
  	}
#img {height: 650px;
		background-image: url("Media/Hands.jpg"); 
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		}
#image {height: 650px;
		background-image: url("Media/Abuelita.jpg");
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;}
#image2 {height: 650px;
		background-image: url("Media/Euclides.jpg"); 
		background-attachment: fixed;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;}
#image3 {height: 650px;
		background-image: url("Media/Nunez.jpg"); 
		background-attachment: fixed;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;}
#image4 {height: 650px;
		background-image: url("Media/Miguel.jpg"); 
		background-attachment: fixed;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;}
#image5 {height: 650px;
		background-image: url("Media/Francisco.jpg"); 
		background-attachment: fixed;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;}
p 	{color: white;
		font-family: 'Aladin', Georgia; 
		font-size: 14px;
		line-height: 20px;
		letter-spacing: 3px;
		text-shadow: 0 0 0.1em black, 0 0 0.1em black,
        0 0 0.1em black;}
.quote {color: white;
		font-family: Times;
		font-size: 30px;
		width: 400px;
		text-align: right;
		padding-top: 10px;
		float: right;}
#title {color: white;
		font-size: 50px;
		font-weight: 100;
		padding-top: 10px;}
body {background-color: black;}
.content {text-align: right;
		padding-right: 5px;
		width: 300px;
		float: right;}
#titlebox { 
		width: 100%;}
#title {height: 100px;
width: 500px;}}

