.outerbox {
	background-color: white;
	text-align: center;


	
}

.introhead {
	background-color: white;




}

.intro {
	background-color: white;
	font-family: Times New Roman, Serif;


}

.innerbox {
	background-color: white;
	}



img.lrg {
	width: 620px;
	height: 403px;
	float:right;

	
}


img.med {float:left;}


h1 {
		text-align: center;
		font-family:Georgia,serif;
		font-size: 48px;
		color: #202020;
		font-weight: bold;
		border: 2px solid #707070;

	}
h2 {
		
		font-family:Georgia, serif;
		font-size: 36px;
		color:#707070
	}
h3 {
		
		font-family:Verdana, serif;
		font-size: 26px;
		color:#707070;
	}

	h4 {
	font-family: Georgia, serif;
font-size: 14px;
font-weight: normal;
font-style: italic;
}
	

p {
	text-align: left;
		font-family:Times New Roman, Serif;
		font-size: 20px;
		color:black;
		font-weight: normal;
  
}
ul {font-family: Times New Roman, Serif;
font-size: 20px;
 list-style-type: none
 color: #707070; 
}


i {color: #707070;}

}

a {color:#707070;}
img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
