body {
	padding: 0;
	margin: 0;
	font-family: helvetica, arial, sans-serif;
}

a {
	color: #1b2a5b;
	text-decoration: none;
}

	a:hover {
		text-decoration: underline;
	}

h1 {
	margin: 10px 25px 20px;
	font-size: 40px;
	/*text-align: center;*/
}

h3 {
	margin: 30px 25px 20px;
	font-weight: normal;
	font-size: 18px;
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0
}

	ul li {
		padding: 0;
		margin: 0;
	}

	ul li a {
		display: block;
		padding: 15px 25px;
		border-bottom: 1px solid #efefef;
		font-size: 21px;
	}

	ul li a:hover {
		background-color: #efefef;
	}

	ul li a:active {
		background-color: #444;
		color: #fff;
	}

	ul li:last-child a {
		border-bottom: none;
	}