/*body {
	font-family: arial, sans-serif;
	text-align: center;
}

h1 {
	font-size: 80px;
	color: #333;
	font-weight: bold;
	text-align: center;
}

h2 {
	text-align: center;
	margin: 100px 0 50px 0;
}

p {
	font-size: 16px;
	line-height: 21px;
	font-family: georgia;
}

.no-padding {
	background-color: #555;
	color: #fff;
	padding: 0;
	text-align: center;
}

.some-padding {
	background-color: #222;
	color: #fff;
	padding: 40px;
	text-align: center;
}

.blue {
	padding: 20px 0 20px 0;
	background-color: #2e4d7a;
	color: #fff;
	text-align: center;
}

.red {
	padding: 20px 0 20px 0;
	background-color: #b33030;
	color: #fff;
	text-align: center;
}

.green {
	padding: 20px 0 20px 0;
	background-color: #30b34c;
	color: #fff;
	text-align: center;
}*/