body {
	font-family: arial, sans-serif;
	text-align: center;
}

h1 {
	font-size: 80px;
	color: #333;
	font-weight: bold;
	text-align: center;
}

h2 {
	text-align: center;
	margin: 100px 0 50px 0;
}

p {
	font-size: 16px;
	line-height: 21px;
	font-family: georgia;
}

.no-padding {
	background-color: #555;
	color: #fff;
	padding: 0;
	text-align: center;
}

.some-padding {
	background-color: #222;
	color: #fff;
	padding: 40px;
	text-align: center;
}

.no-margins {
	background-color: #555;
	color: #fff;
	margin: 0; /* Same as margin: 0 0 0 0; */
	text-align: center;
}

.some-margins {
	background-color: #222;
	color: #fff;
	margin: 40px;
	text-align: center;
}

.green-text {
	color: green;
}

.red-text {
	color: red;
}

.border {
	border: 1px solid #333;
	margin: 0 40px 0 40px;
}

.crazy-border {
	border: 5px dotted red;
}

.blue {
	padding: 20px 0 20px 0;
	background-color: #2e4d7a;
	color: #fff;
	text-align: center;
}

.red {
	padding: 20px 0 20px 0;
	background-color: #b33030;
	color: #fff;
	text-align: center;
}

.green {
	padding: 20px 0 20px 0;
	background-color: #30b34c;
	color: #fff;
	text-align: center;
}