body {
	margin: 0px;
	border: 0px;
	padding: 0px;
}

#wrapper {
	margin: 0px;
	border: 0px;
	padding: 0px;
}

.bannerPhoto {
	width: 100%;
	margin: 0px;
	border: 0px;
	padding: 0px;
	position: relative;
	z-index: 0;
}

#firstPhoto {
	height: 100%;
	background-image: url("images/Moto 360_Map.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

#headline {
	position: absolute;
	z-index: 1;
	margin-left: 520px;
}

.text {
	margin: 0 auto;
	margin-bottom: 40px;
	width: 35%;
}

.sidePhoto {
	border: 0px;
	padding: 0px;
	position: absolute;
}

.bannerPhoto img {
	width: 100%;
}

@import url(http://fonts.googleapis.com/css?family=Lora|Raleway:400,300);

h1 {
	font-family: 'Raleway', sans-serif;
	font-size: 60px;
	font-style: normal;
	font-weight: normal;
	margin-bottom: 10px;
}

@import url(http://fonts.googleapis.com/css?family=Maven+Pro);

h2 {
	font-family: "Maven Pro", Courier, sans-serif;
	font-size: 45px;
	font-style: italic;
	font-weight: normal;
	position: absolute;
	top: 100px;
	left: 50px;
   	width: 50%;
	z-index: 1;
	color: black;
}

#misfitMan h2 {
	color: white;
}

#fuelbandBanner h2 {
	color: white;
}

h3 {
	font-family: 'Helvetica Ultra Neue', Arial, sans-serif;
	font-weight: normal;
	font-style: normal;
	margin-right: 50px;
	margin-top: 0px;
	text-align: right;
}

h4 {
	font-family: 'Helvetica Neue', Arial, sans-serif;
	font-weight: normal;
	font-style: normal;
	text-align: center;
	margin: 5px;
}

h5 {
	font-family: 'Helvetica Neue', Arial, sans-serif;
	font-weight: normal;
	font-style: italic;
	margin-left: 50px;
	margin-bottom: 0px;
}

p {
	font-family: 'Lora', Arial, serif;
	font-size: 18px;
	font-variant: normal;
	font-style: normal;
	font-weight: normal;
}

#fuelband {
	margin: -450 -28%;
	/*margin: -450 -350;*/
}

#gearFit {
	margin: -475 +40%;
	/*margin: -500 +500;*/
}

#jawbone {
	margin: -275 +40%;
	/*margin: -250 +500;*/
}

#nymi {
	margin: -200 -32%;
	/*margin: -200 -400;*/
}

#narrative {
	margin: -400 +44%;
	/*margin: -400 +550;*/
}

#glass {
	margin: -300 -32%;
	/*margin: -300 -400;*/
}

#moto360 {
	margin: +125 +40%;
	/*margin: +125 +500;*/
}

#misfit {
	margin: +50 -28%;
	/*margin: +50 -350;*/
}

@media screen and (max-width: 1160px) {
	#headline {
		margin-left: 30px;
	}

	.sidePhoto {
		position: static;
	}

	#fuelband, #gearFit, #jawbone, #nymi, #narrative, #glass, #moto360, #misfit {
		margin: 0px;

	}

	.text {
		width: 100%;
		display: block;
		margin: 0px;
	}

	h3 {
		text-align: left;
	}

	p {
		margin: 30px;
	}

	.sidePhoto img {
		display: block;
		margin: 0 auto;
	}
}

@media screen and (max-device-width: 650px) {
	.rotate {
		display: block;
		transform:rotate(90deg);
		-webkit-transform:rotate(90deg);
		-moz-transform:rotate(90deg);
		-ms-transform:rotate(90deg);
	}

	.rotateCounter {
		display: block;
		transform:rotate(-90deg);
		-webkit-transform:rotate(-90deg);
		-moz-transform:rotate(-90deg);
		-ms-transform:rotate(-90deg);
	}

	h1 {
		font-size: 50px;
	}

	h2 {
		width: 100%;
		margin: 0 auto;
	}

	h4 {
		text-align: left;
		margin-left: 50px;
	}

	h5 {
		margin-left: 0px;
		text-align: center;
	}
}

@media screen and (max-width: 650px) {
	.rotate {
		display: block;
		transform:rotate(90deg);
		-webkit-transform:rotate(90deg);
		-moz-transform:rotate(90deg);
		-ms-transform:rotate(90deg);
	}

	.rotateCounter {
		display: block;
		transform:rotate(-90deg);
		-webkit-transform:rotate(-90deg);
		-moz-transform:rotate(-90deg);
		-ms-transform:rotate(-90deg);
	}

	h1 {
		font-size: 50px;
	}

	h2 {
		width: 100%;
		margin: 0 auto;
	}

	h4 {
		text-align: left;
		margin-left: 50px;
	}

	h5 {
		margin-left: 0px;
		text-align: center;
	}
}