#wrapper {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

body {
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
}

#menu {
	width: 100%;
	height: 10px;
	margin: 0 auto;
	border-bottom: 0;
	display: block;
	color: black;
}

#intro {
	background: url('http://i.imgur.com/v49fX1i.jpg?1');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 100%;
	width: 100%;
	margin-bottom: 50px;
}

@font-face {
    font-family: 'wisdom_scriptregular';
    src: url('https://www.dropbox.com/s/aa87grjvxozc6u5/wisdom_script_aj-webfont.eot');
    src: url('fonts/wisdom_script_aj-webfont.eot?#iefix') format('embedded-opentype'),
         url('https://www.dropbox.com/s/4bfduwuzfufn6v9/wisdom_script_aj-webfont.woff') format('woff'),
         url('https://www.dropbox.com/s/5rj0eh30jugt4lt/wisdom_script_aj-webfont.ttf') format('truetype'),
         url('fonts/wisdom_script_aj-webfont.svg#wisdom_scriptregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

h1 {
	font-family: 'wisdom_scriptregular';
	font-size: 1em;
	color: #282828;
	padding-left: 1%;
}

#article-title {
	text-align: center;
	width: 90%;
	left: 50%;
	margin-left: -45%;
	bottom: 15px;
	position: absolute;

}

h3 {
	color: #282828;
	font-family: Georgia, serif;
	font-size: 42px;
	margin-bottom: 5px;
	font-weight: 500;
}

#divider {
	height: 1px;
	width: 300px;
	background-color: #282828;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 20px;
}

#byline {
	font-family: Georgia, serif;
	font-size: 16px;
	color: #282828;
}

.photo {
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	margin-bottom: 50px;
	max-width: 900px;
}

#photo-container {
	max-width: 890px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	display: block;
	margin-bottom: 50px;
}

.photo-left {
	margin-top: 30px;
	margin-bottom: 50px;
	float: left;
	display: block;
	position: relative;
}

.photo-right {
	margin-top: 30px;
	margin-bottom: 70px;
	float: right;
	display: block;
	position: relative;
}

.caption {
	font-family: Georgia, serif;
	font-size: 13px;
	color: #505050;
	width: 90%;
	margin-top: 5px;
}

.text {
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 25px;

}

p {
	font-family: Georgia, serif;
	font-size: 16px;
	line-height: 1.7;
	color: #383838;
}

#intro-text {
	font-size: 20px;
}

.letter {
	font-size: 60px;
	font-family: 'wisdom_scriptregular';
	display: inline-block;
	height: 60px;
	width: 30px;
	font-weight: bold;
	color: #383838;
}

.letter-wide {
	font-size: 60px;
	font-family: 'wisdom_scriptregular';
	display: inline-block;
	height: 60px;
	width: 50px;
	font-weight: bold;
	color: #383838;
}

.video {
	margin-top: 30px;
	margin-bottom: 50px;
	margin-left: auto;
	margin-right: auto;
	max-width: 800px;
}

iframe {
	width: 800px;
	height: 601px;
	margin-left: auto;
	margin-right: auto;
}

.pull-quote-1 {
	font-family: Georgia, serif;
	font-size: 28px;
	color: #383838;
	height: 150px;
	width: 340px;
	margin-left: -175px;
	margin-right: 40px;
	margin-bottom: 20px;
	margin-top: 40px;
	float: left;
	line-height: 1.3;
	position: relative;
	display: block;

}

.pull-quote-2 {
	font-family: Georgia, serif;
	font-size: 28px;
	color: #383838;
	height: 155px;
	width: 310px;
	margin-right: -175px;
	margin-left: 80px;
	margin-top: 30px;
	float: right;
	line-height: 1.3;
	position: relative;
}

.left-quote-1 {
	position: absolute;
	bottom: 65px;
	left: -45px;
	font-size: 90px;
	font-weight: 500;
	margin-left: 5px;
	font-family: 'wisdom_scriptregular';
}

.left-quote-2 {
	position: absolute;
	bottom: 70px;
	left: -40px;
	font-size: 90px;
	font-weight: 500;
	margin-left: 5px;
	font-family: 'wisdom_scriptregular';
}

#credit {
	font-family: Georgia, serif;
	font-size: 13px;
	color: #505050;
	margin-top: 5px;
	margin-left: 1%;
}

#footer {
	width: 100%;
	height: 30px;
	background-color: #383838;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	font-family: Georgia, serif;
	color: #E5E5E5;
	text-align: center;
	padding-top: 10px;
	font-size: 13px;
}

a:link {
	color: #E5E5E5;
}

a:visited {
	color: #E5E5E5;
}

@media all and (max-width: 970px) {

#intro {
	height: 80%;
}

#article-title {
	width: 100%;
	bottom: 22%;
}

#divider {
	width: 250px;
}

h3 {
	font-size: 34px;
}

#byline {
	font-size: 15px;
}

.text {
	width: 95%;
	margin-left: auto;
	margin-right: auto;
}

.photo {
	margin-bottom: 20px;
	max-width: 95%
}

.photo-left {
	margin-top: 30px;
	margin-bottom: 50px;
	text-align: center;
	float: none;
}

.photo-right {
	display: none;
}

.video {
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;
}

iframe {
	width: 700px;
	height: 526px;
}

.caption {
	width: 100%;
}

.pull-quote-1 {
	display: none;
}

.pull-quote-2 {
	display: none;
}

.left-quote {
	display: none;
}

#credit {
	font-size: 11px;
}

#footer {
	font-size: 11px;
	padding-top: 15px;
}

}

@media all and (max-width: 400px) {

h1 {
	font-size: 1.5em;
}

#intro {
	height: 51%;
	margin-bottom: 10px;
}

#article-title {
	width: 95%;
	bottom: 50%;
}

h3 {
	font-size: 30px;
	margin-bottom: 0px;
}


#byline {
	font-size: 14px;
}

#divider {
	width: 75%;
	margin-top: 5px;
	margin-bottom: 5px;
}

.image {
	width: 100%;
	height: auto;
}

#intro-text {
	font-size: 18px;
}

.text {
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
}

p {
	font-size: 18px;
}

.photo-left {
	margin-top: 30px;
	margin-bottom: 50px;
	float: none;
	width: 95%;
	margin-left: auto;
	margin-right: auto;
}

.photo-right {
	display: none;
}

.letter {
	font-size: 60px;
	height: 60px;
	width: 30px;
}

.letter-wide {
	font-size: 60px;
	height: 60px;
	width: 50px;
}

.video {
	margin-top: 30px;
	margin-bottom: 10px;
	max-width: 350px;
	margin-left: auto;
	margin-right: auto;
}

iframe {
	width: 350px;
	height: 263px;
}

.caption {
	margin-left: 1%;
}

.pull-quote-1 {
	display: none;
}

.pull-quote-2 {
	display: none;
}

.left-quote {
	display: none;
}

#footer {
	padding-top: 15px;
}
}
