#wrapper {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

#intro-photo {
	max-height: 733px;
	max-width: 1100px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

h1 {
	font-family: Wisdom Script;
	font-size: 110px;
	color: #282828;
	position: absolute;
	bottom: 540px;
	left: 10px;
}

#article-title {
	max-height: auto;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	position: absolute;
	bottom: 25;
	left: 30%;
	max-width: 40%;
}

h3 {
	color: #282828;
	font-family: Georgia, serif;
	font-size: 50px;
	margin-bottom: 5px;
	font-weight: 500;
}

#divider {
	height: 1px;
	width: 75%;
	background-color: #282828;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 20px;
}

#byline {
	font-family: Georgia, serif;
	font-size: 16px;
	color: #282828;
}

.photo {
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	margin-bottom: 50px;
	max-width: 900px;
}

#photo-container {
	max-width: 890px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	display: block;
	margin-bottom: 50px;
}

.photo-left {
	margin-top: 30px;
	margin-bottom: 50px;
	float: left;
	display: block;
	position: relative;
}

.photo-right {
	margin-top: 30px;
	margin-bottom: 70px;
	float: right;
	display: block;
	position: relative;
}

.caption {
	font-family: Georgia, serif;
	font-size: 13px;
	color: #505050;
	width: 90%;
	margin-top: 5px;
}

.text {
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 25px;
	display: block;
	position: relative;

}

p {
	font-family: Georgia, serif;
	font-size: 16px;
	line-height: 1.7;
	color: #383838;
}

#intro-text {
	font-size: 20px;
}

.letter {
	font-size: 60px;
	font-family: Wisdom Script;
	display: inline-block;
	height: 60px;
	width: 30px;
	font-weight: bold;
	color: #383838;
}

.letter-wide {
	font-size: 60px;
	font-family: Wisdom Script;
	display: inline-block;
	height: 60px;
	width: 50px;
	font-weight: bold;
	color: #383838;
}

.video {
	margin-top: 30px;
	margin-bottom: 50px;
	margin-left: auto;
	margin-right: auto;
	max-width: 700px;
}

iframe {
	width: 700px;
	height: 526px;
	margin-left: auto;
	margin-right: auto;
}

.pull-quote-1 {
	font-family: Georgia, serif;
	font-size: 28px;
	color: #383838;
	height: 150px;
	width: 340px;
	margin-left: -175px;
	margin-right: 40px;
	margin-bottom: 20px;
	margin-top: 40px;
	float: left;
	line-height: 1.3;
	position: relative;
	display: block;

}

.pull-quote-2 {
	font-family: Georgia, serif;
	font-size: 28px;
	color: #383838;
	height: 155px;
	width: 300px;
	margin-right: -175px;
	margin-left: 80px;
	margin-top: 30px;
	float: right;
	line-height: 1.3;
	position: relative;
}

.left-quote-1 {
	position: absolute;
	bottom: 55px;
	left: -45px;
	font-size: 90px;
	font-weight: 500;
	margin-left: 5px;
	font-family: Wisdom Script;
}

.left-quote-2 {
	position: absolute;
	bottom: 60px;
	left: -40px;
	font-size: 90px;
	font-weight: 500;
	margin-left: 5px;
	font-family: Wisdom Script;
}

#credit {
	font-family: Georgia, serif;
	font-size: 13px;
	color: #505050;
	margin-top: 5px;
}

#footer {
	width: 100%;
	height: 30px;
	background-color: #383838;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	font-family: Georgia, serif;
	color: #E5E5E5;
	text-align: center;
	padding-top: 10px;
	font-size: 13px;
}

a:link {
	color: #E5E5E5;
}

a:visited {
	color: #E5E5E5;
}

@media all and (max-width: 760px) {

.image {
	width: 100%;
	height: auto;
}

.text {
	width: 500px;
	margin-left: auto;
	margin-right: auto;
}

.photo-left {
	margin-top: 30px;
	margin-bottom: 50px;
	text-align: center;
	float: none;
}

.photo-right {
	display: none;
}

.video {
	max-width: 500px;
	margin-left: auto;
	margin-right: auto;
}

iframe {
	width: 500px;
	height: 375px;
}

.video-caption {
	width: 350px;
	font-size: 14px;
	margin-left: auto;
	margin-right: auto;
}

.pull-quote-1 {
	display: none;
}

.pull-quote-2 {
	display: none;
}

.left-quote {
	display: none;
}

#credit {
	font-size: 11px;
}

#footer {
	font-size: 11px;
	padding-top: 15px;
}

}

@media all and (max-width: 400px) {

.image {
	width: 100%;
	height: auto;
}

.text {
	width: 300px;
	margin-left: auto;
	margin-right: auto;
}

.photo-left {
	margin-top: 30px;
	margin-bottom: 50px;
	text-align: center;
	float: none;
}

.photo-right {
	display: none;
}

.video {
	margin-top: 30px;
	margin-bottom: 20px;
	max-width: 300px;
	margin-left: auto;
	margin-right: auto;
}

iframe {
	width: 300px;
	height: 225px;

}

.video-caption {
	width: 250px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	font-size: 14px;
}

.pull-quote-1 {
	display: none;
}

.pull-quote-2 {
	display: none;
}

.left-quote {
	display: none;
}

#footer {
	padding-top: 15px;
}
}
