body {
	background-image: url("images/12_col.gif");
	background-repeat: repeat;
}

h1 {
	color: black;
	font-family: "Helvetica Neue Light", sans-serif;
	font-weight: normal;
	font-size: 100px;
	text-align: center;
	margin: 0px;
	padding: 0px;
	border: 0px;
}

h2 {
	font-family: "Baskerville", Times, serif;
	font-size: 40px;
	margin-left: 15px;
	margin-bottom: 0px;
	text-align: left;
}

h3 {
	font-family: Times, serif;
	font-size: 24px;
	margin-left: 25px;
	margin-top: 0px;
	text-align: left;
}

h4 {
	font-family: Georgia; serif;
	font-size: 12px;
	text-align: center;
	color: black;
	margin: 0px;
	padding: 0px;
	border: 0px;
}

p {
	font-family: Georgia, serif;
	text-align: left;
	margin: 15px;
}

.paragraph {
	margin-bottom: 20px;
}

.section {
	margin-top: 30px;
	margin-bottom: 30px;
	border-top: black 2px;
}

.photocredit {
	font-size: 10px;
	margin-top: 0px;
	margin-bottom: 10px;
}

.footer {
	padding: 20px;
}