ol {border:2px 
      solid #A34719;}
h1 {color: #A34719;
      font-family: impact; 
      font-size: 45px;}
h2 {color: #A34719;
      font-family: impact;}
body {background-color: #FFF5EB; 
      font-family: georgia;}
figcaption{background-color: #A34719;
      color: white;}
