#header {color: black; 
			background-color: white;
			height: 150px;
			width: 1350px;
			margin-right: 250px;
			margin-left: 50px;
			margin-top: 50px;
			font-size: 35px;
			font-family: Helvetica, sans-serif;
			text-align: center;
			font-family: Helvetica;
			font-weight: lighter;
			letter-spacing: 10px;
			border-top: solid;
			border-bottom: solid;
			border-width: 1px;}
.date {color: black; 
			font-family: helvetica;
			float: right;
			background-color: white;
			margin-right: 30px;
			margin-top: 50px;
			width: 120px;
			height: 120px;}
.content {background-color: #171717; 
			color: black;
			float: left;
			font-family: helvetica;
			margin-left: 50px;
			margin-top: 50px;
			font-size: 12px;
			height: 1050px;
			width: 1000px;}
.headline {font-family: Helvetica;
			font-size: 30px;
			text-align: center;}
.page {height: 10500px;
		width: 1800px;
		background-color: white;}
.inner {height: 10000px;
		width: 1350px;
			margin-left: 50px;
			margin-right: 500px;
			background-color: #171717;}
body {background-color: white;}
.title {color: black;
			margin-top: 50px;
			text-align: center;
			font-size: 30px;}
.summary {background-color: white;
			color: #383838;
			height: 315px;
			width: 995px;
			margin-top: 20px;
			font-size: 14px;}
.vertical {float: left;
			height: 650px;
			width: 1150px;
			color: #383838;
			font-size: 14px;}
#head {font-family: arial;
		padding-top: 10px;
		color: white;
		background-color: #171717;
			margin-left: 50px;
			margin-top: 75px;
			letter-spacing: 4px;}
.rightsumm {background-color: white;
	float: right;
		height: 600px;
		width: 560px;
		padding-top: 5px;}
#ibiza {margin-right: 50px;
		height: 548px;
		width: 560px;}
.horiz {float: right;
		height: 315px;
		width: 560px;
		margin-top: 20px;}
#lyon {margin-right: 70px;
		height: 548px;
		width: 560px;}
#bilbao {margin-right: 20px;
		height: 548px;
		width: 560px;}
h1 {padding-top: 20px;
	padding-left: 20px;}
p {padding-left: 20px;}