#header {color: black; 
			background-color: white;
			height: 150px;
			width: 1350px;
			margin-right: 250px;
			margin-left: 50px;
			margin-top: 10px;
			font-size: 35px;
			font-family: Helvetica, sans-serif;
			text-align: center;
			font-family: Helvetica;
			font-weight: lighter;
			letter-spacing: 10px;
			border-style: solid;
			border-width: 1px;}
.date {color: black; 
			font-family: helvetica;
			margin-right: 100px;
			float: right;
			background-color: white;
			margin-right: 30px;
			margin-top: 50px;
			width: 120px;
			height: 120px;
			box-shadow: 10px 10px 5px #5A5A5A;}
.content {background-color: #E8E8E8; 
			color: black;
			float: left;
			font-family: helvetica;
			margin-left: 50px;
			margin-top: 50px;
			font-size: 12px;
			height: 600px;
			width: 1100px;}
.headline {font-family: Helvetica;
			font-size: 30px;
			text-align: center;}
.page {height: 7200px;
		width: 1800px;
		background-color: white;}
.inner {height: 6800px;
		width: 1350px;
			margin-left: 50px;
			margin-right: 500px;
			background-color: #E8E8E8;}
body {background-color: white;}
.title {color: black;
			margin-top: 50px;
			text-align: center;
			font-size: 30px;}
.summary {background-color: white;
			color: #383838;
			height: 200px;
			width: 200px;
			margin-top: 20px;}
.vertical {float: left;
			height: 650px;
			width: 1200px;}
#head {font-family: Helvetica;
		padding-top: 10px;
		color: #383838;
		background-color: #E8E8E8;
			margin-left: 50px;
			margin-top: 100px;}
.vertvid {float: right;
		margin-right: 155px;}
#bilbao {margin-right: 125px;}
#lyon {margin-right: 180px;}
.rightsumm {background-color: white;
		margin-top: 20px;}
.horiz {float: right;
		height: 315;
		width: 560px;
		margin-right: 30px;}