#header {color: black; 
			background-color: white;
			height: 150px;
			width: 1300px;
			margin-right: 250px;
			margin-left: 50px;
			margin-top: 10px;
			font-size: 35px;
			font-family: Helvetica, sans-serif;
			text-align: center;
			font-family: Helvetica;
			font-weight: lighter;
			letter-spacing: 10px;
			border-style: solid;
			border-width: 1px;}
.date {color: black; 
			font-family: helvetica;
			margin-right: 100px;
			float: right;
			background-color: white;
			margin-right: 20px;
			margin-top: 50px;
			width: 150px;
			height: 150px;
			}
.content {background-color: #E8E8E8; 
			color: black;
			float: left;
			font-family: helvetica;
			margin-top: 10px;
			margin-left: 20px;
			font-size: 12px;
			height: 650px;
			width: 1100px;
			}
.headline {font-family: Helvetica;
			font-size: 35px;
			text-align: center;}
.page {height: 7500px;
		width: 1800px;
		background-color: white;}
.inner {height: 7300px;
		width: 1300px;
			margin-left: 50px;
			margin-right: 500px;
			margin-top: 100px;
			background-color: #E8E8E8;}
body {background-color: white;}
.title {color: black;
			margin-top: 50px;
			text-align: center;
			font-size: 30px;}
.summary {background-color: white;
			color: #383838;}
.vertical {float: right;
			margin-right: 450px;}
#head {font-family: Helvetica;
	float: left;
		margin-left: 50px;
		padding-top: 10px;
		color: #383838;}