#header {color: black; 
			background-color: white;
			height: 150px;
			width: 1350px;
			margin-right: 250px;
			margin-left: 50px;
			margin-top: 50px;
			font-size: 35px;
			font-family: Helvetica, sans-serif;
			text-align: center;
			font-family: Helvetica;
			font-weight: lighter;
			letter-spacing: 10px;
			border-top: solid;
			border-bottom: solid;
			border-width: 1px;}
.date {color: black; 
			font-family: helvetica;
			float: right;
			background-color: white;
			margin-right: 30px;
			margin-top: 50px;
			width: 120px;
			height: 120px;
			box-shadow: 10px 10px 5px #5A5A5A;}
.content {background-color: #E8E8E8; 
			color: black;
			float: left;
			font-family: helvetica;
			margin-left: 50px;
			margin-top: 50px;
			font-size: 12px;
			height: 1050px;
			width: 1000px;}
.headline {font-family: Helvetica;
			font-size: 30px;
			text-align: center;}
.page {height: 10500px;
		width: 1800px;
		background-color: white;}
.inner {height: 10000px;
		width: 1350px;
			margin-left: 50px;
			margin-right: 500px;
			background-color: #E8E8E8;}
body {background-color: white;}
.title {color: black;
			margin-top: 50px;
			text-align: center;
			font-size: 30px;}
.summary {background-color: #E8E8E8;
			color: #383838;
			height: 360px;
			width: 1000px;
			margin-top: 20px;
			padding-top: 5px;
			font-size: 14px;
		padding-left: 20px;
		padding-right: 20px;}
.vertical {float: left;
			height: 650px;
			width: 1150px;
			color: #383838;
			font-size: 14px;}
#head {font-family: arial;
		padding-top: 10px;
		color: #383838;
		background-color: #E8E8E8;
			margin-left: 50px;
			margin-top: 75px;}
.rightsumm {background-color: #E8E8E8;
	float: right;
		margin-top: 20px;
		height: 600px;
		width: 580px;
		padding-left: 20px;
		padding-right: 20px;
		padding-top: 5px;}
#ibiza {margin-right: 50px;
		height: 500px;
		width: 580px;}
.horiz {float: right;
		height: 315;
		width: 560px;
		margin-top: 20px;
		padding-top: 20px;
		padding-right: 10px;}
#lyon {margin-right: 70px;}
#bilbao {margin-right: 20px;}
