

html, body, #container {
    width:100%;
    height:100%;
    margin: 0;
    padding: 0;
    margin:0;
    background-color:black;
    overflow:visible;


}

img{
width:100%;
height:100%;

}


.navigation{
    position:fixed;
    top:0;
    width:100%;
    height:10%;
    background-color:black;
    padding:0;
    margin:0;
    text-align:left;
    z-index:999;
    padding-left:4%;
    padding-top:2%;
    font-size:150%;
    opacity:0,5;
   
}

    .navigation li {
       display:inline-block;
        margin-left:5%;

    }
      .navigation a {
            color:#B51438;
            font-size:16px;
          }

.main{
    margin-top:40px;
}


.slide{
    background-attachment: fixed;
    width:100%;
    height:100%;
    position:relative;
    padding:0;
    margin:0 auto;
    overflow:visible;
}


.header{
       font-family: 'Lobster', cursive;
       color:black;
       position:absolute;
       top:30%;
       left:10%;
        font-size: 50%;
        text-align:center;
        width: 50%;
        height:50%; 
        padding:10%;
        display:none;

}

.caption{
        display:none;
        font-family: helvetica;
        position:absolute;
        top:80%;
        font-size: 100%;
        color:black;
        text-align:left;
        width: 100%;
        height:15%; 
        background-color:#B51438;
        padding:3%;
        margin-bottom:20%;
        

}

.caption2{
        display:none;
        font-family: helvetica;
        position:absolute;
        top:80%;
        font-size: 100%;
        color:black;
        text-align:left;
        width: 100%;
        height:15%; 
        background-color:#B51438;
        padding:3%;
        margin-bottom:20%;

}

.caption3{
        display:none;
        font-family: helvetica;
        position:absolute;
        top:80%;
        font-size: 100%;
        color:black;
        text-align:left;
        width: 100%;
        height:15%; 
        background-color:#B51438;
        padding:3%;
        margin-bottom:20%;

}

.caption4{
        display:none;
        font-family: helvetica;
        position:absolute;
        top:80%;
        font-size: 100%;
        color:black;
        text-align:left;
        width: 100%;
        height:15%; 
        background-color:#B51438;
        padding:3%;
        margin-bottom:20%;


}

.caption5{
        display:none;
        font-family: helvetica;
        position:absolute;
        top:80%;
        font-size: 100%;
        color:black;
        text-align:left;
        width: 100%;
        height:15%; 
        background-color:#B51438;
        padding:3%;
        margin-bottom:20%;


}

.caption6{
        display:none;
        font-family: helvetica;
        position:absolute;
        top:80%;
        font-size: 100%;
        color:black;
        text-align:left;
        width: 100%;
        height:15%; 
        background-color:#B51438;
        padding:3%;
        margin-bottom:20%;


}

.caption7{
        display:none;
        font-family: helvetica;
        position:absolute;
        top:80%;
        font-size: 100%;
        color:black;
        text-align:left;
        width: 100%;
        height:15%; 
        background-color:#B51438;
        padding:3%;
        margin-bottom:20%;


}

.caption8{
        display:none;
        font-family: helvetica;
        position:absolute;
        top:80%;
        font-size: 100%;
        color:black;
        text-align:left;
        width: 100%;
        height:15%; 
        background-color:#B51438;
        padding:3%;
        margin-bottom:20%;


}

.caption9{
        display:none;
        font-family: helvetica;
        position:absolute;
        top:80%;
        font-size: 100%;
        color:black;
        text-align:left;
        width: 100%;
        height:15%; 
        background-color:#B51438;
        padding:3%;
        margin-bottom:20%;


}


.slide-1-image{
position:relative;

}

.slide-2-image{
position:relative;

}

#footer {
 clear: both;
 position: relative;
 z-index: 10;
 height: 5em;
 margin-top: -1em;
 margin-left:8%;
 padding:0%;
 font-family: helvetica;
 font-size: 110%;
 color: #B51438;
 
}

#content { padding-bottom: 4%; }

@media screen and (max-width: 480px) {

  html {
    -webkit-text-size-adjust: none;
  }

  html, body, #container{
    font-size: 50%;
    padding: ;
  }

}

@media screen and (max-width: 980px) {

html {
    -webkit-text-size-adjust: none;
  }

  html, body, #container{
    font-size: 70%;
    padding: ;
  }


}







