
header{
	position: relative;
}

body{

width: 100%;
height: 5500px;
font-family: "Didot";
background-color: #000000;
position: relative;
margin-top: 0px;


}

#wrapper{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.container {
margin-bottom: 2%;
margin-top: 2px;
width: 1200px;
height: 850px;
padding-top: 5px;
margin-left: 35px;
margin-right: 5px;
margin-top: 2px;


}

#titlemovie {
margin-bottom: 2%;
margin-top: 2px;
width: 100%;
height:100%;
position: relative;
display: block;
}

video::-webkit-media-controls {
  display:none !important;
border-radius: 70px;
padding-left: 85px;
 padding-bottom: 5px;
 margin-left: 50px;
}

.container1{

height: 400px;
width: 1100px;
position: relative;
padding-left: 100px;
background-color: #FFFFFF;opacity:0.9;
padding-top: 10px;
font-size: 20px;
border-top: 1px;
margin-left: 50px;
margin-right: 5px;


}

#firstword {
	font-family:"Connie";
	font-size: 85px;
	color: #000000;
	margin:0;
  font-weight:600px;
	

}

#firstword2 {
  font-family:"Connie";
  font-size:20px;
  color: #000000;
  margin:0;
  }

p {
	text-align: justify;
	padding-right: 50px;
	padding-left: 0px;
}

img
{width: 300px; 
  height: 350px;
  border-radius: 50em;
    position: right;
    padding-top: 15px;
    padding-bottom: 15px;
    border: 2px,#000000;
    	border-radius: 100px / 50px;
      border:1px #000000;

}



#image{

	padding-left: 80px;
	padding-right: 10px;
	width: 200px; 
  height: 200px;
  border: 2px,#000000;
  margin-bottom: 20px;
  padding-bottom: 30px;

  border-radius: 50em;
}

#image2{

	margin-right: 80px;
	width: 200px; 
  height: 200px;
  border: 2px,#000000;
  margin-bottom: 20px;
  padding-bottom: 30px;
  position: absolute;
  margin-left: 105px;
  float: left;

  border-radius: 50em;
}


#image3{

	margin-right: 80px;
	width: 200px; 
  height: 200px;
  border: 2px,#000000;
  margin-bottom: 20px;
  padding-bottom: 30px;
  position: absolute;
  margin-left: 520px;
  
  float: right;

  border-radius: 50em;
}




.container2{

height: 290px;
width: 1100px;
position: absolute;
padding-left: 100px;
background-color: #FFFFFF;
opacity:0.9;
padding-top: 10px;
font-size: 20px;
border-top: 1px;
margin-top: 5px;
margin-right: 5px;
margin-left: 50px;
text-align: justify;
position: relative;
}

.gallery {

height: 420px;
width: 1100px;
position: relative;
padding-left: 20px;
background-color: #FFFFFF;
opacity:0.9;
padding-left: 100px;
margin-right: 5px;
margin-left: 50px;
margin-top: 0;
position: relative;

}

.gallery {

height: 420px;
width: 1100px;
position: relative;
padding-left: 20px;
background-color: #FFFFFF;
opacity:0.9;
padding-left: 100px;
margin-right: 5px;
margin-left: 50px;
margin-top: 0;
position: relative;
display: block;
}

#gallery1
{
margin-right: 50px;
margin-bottom: 5px;
}


#gallery2
{
margin-right: 50px;

}

#gallery3

{
margin-right: 45px;
}

.imagenew{
  width: 1100px;
  height: 400px;
  float: left;
  border-radius: 50em;
  margin-top: 500px;
  margin-left: 100px;
  margin-top: 10px;
  width: 500px;
  background-image: url('imagebk.jpg');
  position: relative;


}

.container3{

height: 250px;
width: 1100px;
position: relative;
padding-left: 100px;
background-color: #FFFFFF;
opacity:0.9;
padding-top: 10px;
font-size: 20px;
border-top: 1px;
margin-right: 5px;
margin-left: 50px;
text-align: justify;
position: relative;
}

#firstword2 {
  font-family:"Connie";
  font-size: 30px;
  color: #000000;
  margin:0;
  font-weight:600px;
  
}

#para {
float: right;

}

iframe
{
margin-left: 20px;
margin-top: 50px;
float: left;
position: relative;

}

blockquote {
  float:right;
  height: 400px;
  width: 500px;
  color:#FFFFFF;opacity:0.9; 
  font-size: 20px;
  font-family: "zapfino";
  margin-left: 800px;
  margin-top: 70px;
  position: absolute;

  }

.blockquote1 {
  float:right;
  height: 400px;
  width: 500px;
  color:#FFFFFF;opacity:0.9; 
  font-size: 20px;
  font-family: "Didot";
  margin-left: 1040px;
  margin-top: 350px;
  position: absolute;
  font-size: 15px;

  }


.container4{

height: 400px;
width: 1100px;
position: relative;
padding-left: 100px;
background-color: #FFFFFF;
opacity:0.9;
padding-top: 10px;
font-size: 20px;
border-top: 1px;
margin-right: 5px;
margin-left: 50px;
text-align: justify;
margin-top: 520px;
position: relative;
}

.gifs1{

margin-right: 5px;
margin-left: 50px;
position: relative;
height: 500px;
width: 12000px;

}


#image5{

  margin-top: 20px;
  float: left;
  position: relative;
  margin-left: 10px;
  border: #000000 thick;

}



.clothes {
font-size:40px;
color:#FFFFFF;opacity:0.9; 
margin-left:25px;
margin-top:30px;
float: left;
font-family: 'Fabrics';
position: relative;

}

#image6{
margin-top:2px;
  float: right;
  position: absolute;
  margin-left: 130px;
  border: #000000 thick;


}



.clothes1{

font-size:40px;
color:#FFFFFF;opacity:0.9;
font-family: 'Fabrics';
position: relative;
margin-top: 30px;
margin-left:490px;
position: absolute;

}

#image7
{
margin-top:5px;
  float: right;
  position: absolute;
  margin-left:570px;
  border: #000000 thick;


}

.clothes2{

  font-size:40px;
color:#FFFFFF;opacity:0.9;
font-family: 'Fabrics';
position: relative;
margin-top: 30px;
margin-left:950px;
position: absolute;
}

.container5{

height: 250px;
width: 1100px;
position: absolute;
padding-left: 100px;
opacity:0.9;
padding-top: 40px;
font-size: 20px;
border-top: 1px;
margin-right: 5px;
margin-left: 50px;
text-align: justify;
margin-top: 100px;
background-color:#FFFFFF;opacity:0.9; 

}



.container6

{

height: 290px;
width: 1100px;
position: absolute;
padding-left: 100px;
background-color: #000000;
opacity:0.9;
padding-top: 10px;
font-size: 20px;
border-top: 1px;
margin-top: 500px;
margin-right: 5px;
margin-left: 50px;
position: relative;
}



















  @media all and (max-width:620px) {


body{

width: 400px;
height: 1200px;
font-family: "Didot";
background-color: #000000;
position: relative;
margin-top: 0px;


}

#wrapper{
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.container {
margin-bottom: 2%;
margin-top: 2px;
width: 400px;
height: 300px;
padding-top: 5px;
margin-left: 35px;
margin-right: 5px;
margin-top: 2px;


}

#titlemovie {
margin-bottom: 2%;
margin-top: 2px;
width: 100%;
height:100%;
position: relative;
display: block;
}

video::-webkit-media-controls {
  display:none !important;
border-radius: 70px;
padding-left: 85px;
 padding-bottom: 5px;
 margin-left: 50px;
}

.container1{

height: 300px;
width: 400px;
position: relative;
padding-left: 20px;
background-color: #FFFFFF;opacity:0.9;
padding-top:2px;
font-size: 12px;
border-top: 1px;
margin:0;

}

#firstword {
  font-family:"Connie";
  font-size: 25px;
  color: #000000;
  margin:0;
  font-weight:600px;
  

}

#firstword2 {
  font-family:"Connie";
  font-size:25px;
  color: #000000;
  margin:0;
  }

p {
  text-align: justify;
  padding-right: 50px;
  padding-left: 0px;
}

img
{width: 300px; 
  height: 350px;
  border-radius: 50em;
    position: right;
    padding-top: 15px;
    padding-bottom: 15px;
    border: 2px,#000000;
      border-radius: 100px / 50px;
      border:1px #000000;

}



#image{

  padding-left: 40px;
  padding-right: 10px;
  width: 200px; 
  height: 200px;
  border: 2px,#000000;
  margin-bottom: 20px;
  padding-bottom: 30px;

  border-radius: 50em;
  margin-right: 15px;
}

#image2{

  display: none;
}


#image3{

  display: none;
}




.container2{


margin-bottom: 2%;
margin-top: 2px;
width: 400px;
height: 200px;
padding-top: 2px;
margin-left: 5px;
margin-right: 5px;
margin-top: 2px;
padding-left: 15px;
position: relative;
background-color: #FFFFFF;
opacity:0.9;
text-align: justify;
font-size: 12px;

}


.gallery {

height: 420px;
width: 1100px;
position: relative;
padding-left: 20px;
background-color: #000000;
opacity:0.9;
padding-left: 10px;
margin-right: 5px;
margin-left: 50px;
margin-top: 0;
position: relative;

}



#gallery1
{
margin-right: 5px;
margin-bottom: 5px;
display: none;
}


#gallery2
{
  display: none;

}

#gallery3

{
  display: none;
}



.imagenew{
  width: 1100px;
  height: 400px;
  float: left;
  border-radius: 50em;
  margin-top: 500px;
  margin-left: 100px;
  margin-top: 10px;
  width: 500px;
  background-image: url('imagebk.jpg');
  position: relative;


}

.container3{

height: 200px;
width: 400px;
position: relative;
padding-left: 20px;
background-color: #FFFFFF;opacity:0.9;
padding-top:2px;
font-size: 12px;
border-top: 1px;
margin:0;
border-top: 1px;
margin-right: 5px;
text-align: justify;
position: relative;
}

#firstword2 {
  font-family:"Connie";
  font-size: 20px;
  color: #000000;
  margin:0;
  font-weight:300px;
  
}

#para {
float: right;

}

iframe
{
display: none;
}

blockquote {
  float:left;
  height: 300px;
  width: 500px;
  color:#FFFFFF;opacity:0.9; 
  font-size: 16px;
  font-family: "zapfino";
  margin-left: 40px;
  margin-top: 70px;
  position: absolute;

  }

.blockquote1 {
  float:left;
  height: 300px;
  width: 500px;
  color:#FFFFFF;opacity:0.9; 
  font-size: 20px;
  font-family: "Didot";
  margin-left: 50px;
  margin-top: 300px;
  position: absolute;
  font-size: 15px;

  }


.container4{
height: 200px;
width: 400px;
position: relative;
padding-left: 20px;
padding-bottom: 10px;
background-color: #FFFFFF;opacity:0.9;
padding-top:2px;
font-size: 12px;
border-top: 1px;
margin:0;
border-top: 1px;
margin-right: 5px;
text-align: justify;
position: relative;
margin-left: 10px;
text-align: justify;
margin-top: 330px;
position: relative;
}

.gifs1{

margin-right: 5px;
margin-left: 50px;
position: relative;
height: 100px;
width: 12000px;

}


#image5{

  margin-top: 20px;
  float: left;
  position: relative;
  margin-left: 10px;
  border: #000000 thick;

}



.clothes {
  display: none;

}

#image6{
display:none;

}



.clothes1{

display: none;
}

#image7
{
display: none;

}

.clothes2{

  display: none;
}

.container5{


height: 200px;
width: 400px;
position: relative;
padding-left: 20px;
padding-bottom: 5px;
background-color: #FFFFFF;opacity:0.9;
padding-top:20px;
font-size: 12px;
border-top: 1px;
margin:0;
border-top: 1px;
margin-right: 5px;
text-align: justify;
position: relative;
margin-left: 10px;
text-align: justify;
margin-top: 330px;
position: relative;


}



.container6

{
  display: none;
}




   
}

