.outerbox {
	background-color: white;
	text-align: center;
	width: 1000px;
	height: 4000px;
	padding: 25px;
	margin:20px;

	
}

.introhead {
	background-color: white;
	width: 750px;
	margin-left: 220px;
	margin-right: 220px;
	margin-bottom: 50px;
	padding-left: 80px;
	padding-right: 200px;
	text-align: center;




}

.intro {
	background-color: white;
	width: 600px;
	height: 100%;
	padding-right: 125px;
	float: center;
	margin-right: 100px;
	margin-left: 100px;
	font-family: Times New Roman, Serif;
	text-align: justify;


}

.innerbox {
	background-color: white;
	width:1100px;
	height: 680px;
	float: center;
	padding-left: 100px;
	padding-right: 100px;
	padding-bottom: 0px;
	padding-top: 10px;
margin-left: 20px;
margin-bottom: 0px;
}

.innertext {
	float: left;
}

.heading {
	float: left;
}

img.lrg {
	width: 750px;
	height: 487px;
	float: right;
	margin-left: 20px;
	
}

img.med {
	float: left;
	margin-right: 20px;
	
}

.images {
	float: right;
}



h1 {
		text-align: center;
		font-family:Courier New, monospace;
		font-size: 42px;
		color:black;
		font-weight: bold;
		border: 2px solid black;

	}
h2 {
		text-align: center;
		font-family:Courier New, monospace;
		font-size: 36px;
		color:black
	}
h3 {
		text-align: center;
		font-family:Courier New, monospace;
		font-size: 22px;
		color:black;
	}

	h4 {
	font-family: Times New Roman, Serif;
font-size: 14px;
font-weight: normal;
font-style: italic;
}
.photocredit {
	float:right;

}
	

p {
	text-align: left;
		font-family:Times New Roman, Serif;
		font-size: 20px;
		color:black;
		font-weight: normal;
    margin-bottom: 10px;
}
ul {font-family courier new, monospace;
font-size: 20px;
}


i {color: #800000;}

}
img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
