<style> 

body {
	font-family: Helvetica;
	background-color: #9aacaa;
	padding:10px;
}	

h1 {
		text-align: center;
		font-family:Tahoma;
		font-size: 36px;
		color:teal;
		font-weight: bold;
	}
h1 {
		text-align: center;
		font-family:Tahoma;
		font-size: 24px;
		color:black;
		font-weight: bold;
	}


p {
	text-align: left;
		font-family:Helvetica;
		font-size: 16px;
		color:black;
		font-weight: normal;
}

p {
    margin-bottom: 0;

i {color: #4b97ab;}
}

li {
	font-family: Helvetica;
	font-size: 16px;
	color:teal;
}

dl{
	font-family:Helvetica;
	font-size: 16px;
	color:teal;
	font-weight: bold;
}



blockquote {
		font-family: Helvetica;
		font-size: 18px;
		font-weight: bold;
		color:teal
}
img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}


</style>