<style> 

body {
	background-color: #666;
}	

h1 {
		text-align: center;
		font-family:Tahoma;
		font-size: 36px;
		color:teal;
		font-weight: bold;
	}


p {
	text-align: left;
		font-family:Helvetica;
		font-size: 16px;
		color:black;
		font-weight: normal;
}

p {
    margin-bottom: 0;
}

li {
	font-family: Helvetica;
	font-size: 16px;
	color:#2f6d62;
}

blockquote {
		font-size: 18px;
		font-weight: bold;
		color:#2f6d62
}

</style>