h1 {
	font-family: Helvetica, sans-serif;
	font-size: 80px;
	font-weight: normal;
	font-style: normal;
	font-variant: small-caps;
	margin: 0px;
	color: white;
}

h2 {
	font-family: Arial, sans-serif;
	font-size: 24px;
	font-weight: normal;
	font-style: normal;
	margin-top: 20px;
	color: white;
}

#subhead {
	margin: 0px;
}

h3 {
	font-family: "Helvetica Neue Light", sans-serif;
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	margin-bottom: 10px;
	padding-bottom: 0px;
	border-bottom: 0px;
	color: white;
}

body {
	background-color: black;
}

@import url(http://fonts.googleapis.com/css?family=Droid+Serif);

p {
	font-family: "Droid Serif";
	font-size: 18px;
	font-weight: normal;
	font-style: normal;
	color: white;
}

#firstphoto {
	margin: 0px;
	padding: 0px;
	border: 0px;
	width: 100%;
	height: 75%;
	background-image: url("../images/littleItalySign.jpg");
	background-size: cover;
	background-attachment: fixed;
	background-position: left;
	background-repeat: no-repeat;
}

#header {
	width: 100%;

}

#photo {

}

#lastphoto {
	margin-bottom: 100px;
}