.main {
	width: 100%;
}

h1 {
	font-family: Helvetica, sans-serif;
	font-size: 80px;
	font-weight: normal;
	font-style: normal;
	font-variant: small-caps;
	margin: 0px;
	color: white;
}

h2 {
	font-family: Arial, sans-serif;
	font-size: 36px;
	font-weight: normal;
	font-style: normal;
	margin-top: 20px;
	color: white;
}

#subhead {
	margin: 0px;
	font-size: 24px;
}

h3 {
	font-family: "Helvetica Neue Light", sans-serif;
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	margin-bottom: 10px;
	padding-bottom: 0px;
	border-bottom: 0px;
	color: white;
}

h4 {
	color: white;
}

body {
	background-color: black;
	margin: 0px;
}

@import url(http://fonts.googleapis.com/css?family=Droid+Serif);

p {
	font-family: "Droid Serif";
	font-size: 24px;
	font-weight: normal;
	font-style: normal;
	color: white;
}

.photo {
	margin: 0px;
	padding: 0px;
	border: 0px;
	width: 100%;
	height: 100%;
	background-size: cover;
	/*background-attachment: fixed;*/
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
}
.firstphoto {
	background-image: url("../images/littleItalySign.jpg");
	z-index: 0;
}

#headerBlur {
	width: 100%;
	height: 25%;
	position: absolute;
	left: 0px;
	bottom: 0px;
	background-position: center, bottom;
	z-index: 1;
}

.header {
	width: 100%;
	height: 25%;
	position: absolute;
	left: 20px;
	bottom: 0px;
	z-index: 2;
}

.text {
	position: absolute;
	text-align: center;
	width: 50%;
	height:50%;
	left: 25%;
	top: 25%;
	bottom: 0px;
	z-index: 2;
}

.photo2 {
	background-image: url("../images/ferrara sign.jpg");
}

.photo3 {
	background-image: url("../images/ferrara tile.jpg");
}

.photo4 {
	background-image: url("../images/caffe roma.jpg");
}

.photo5 {
	background-image: url("../images/grotta azzurra.jpg");
}

.photo6 {
	background-image: url("../images/chinese store.jpg");
}

.photo7 {
	background-image: url("../images/memorial wall.jpg");
}

.photo8 {
	background-image: url("../images/clock.jpg");
}

.photo9 {
	background-image: url("../images/sal.jpg");
}

.lastphoto {
	background-image: url("../images/tables.jpg");
	margin-bottom: 100px;
}

@media screen and (max-width: 600px) {
	h1 {
		font-size: 50px;
	}

	h2 {
		font-size: 22px;
	}

	#subhead {
		font-size: 18px;
	}

	h3 {
		font-size: 11px;
	}

	p {
		font-size: 17px;
	}
}