.page {
	margin-left: auto;
	margin-right: auto;
	width: 1100px;
	height: 9850px;
}

.border {
	border: 1px solid #D0D0D0;
}


#top {
	width: 1100px;
	height: 32px;
	background-color: #CC1100;
}

h5 {
	text-align: center;
	font-family: Myriad Pro, Helvetica, sans-serif;
	color: white;
	padding-top: 8px;
	padding-bottom: 5px;
	font-size: 18px;
}

#header {
	text-align: center;
	height: 100px;
	width: 1000px;
	padding-top: 5px;
	margin-right: auto;
	margin-left: auto;
	font-family: Myriad Pro, Helvetica, sans-serif;
	color: black;

}

h1 {
	text-align: center;
	color: black;
	font-size: 40px;
}

h3 {
	font-family: Myriad Pro, Helvetica, sans-serif;
	font-size: 24px;
	margin-top: 0px;
	margin-bottom: 5px;
	margin-left: 200px;
}

.intro {
	width: 600px;
	margin-left: auto;
	margin-right: auto;
}

.introtext {
	font-size: 18px;
	font-style: italic;
}

.links {
	text-align: center;
	font-size: 18px;
	font-weight: bold;
}

.image {
	margin-left: 100px;
	margin-right: 1000px;
}

figcaption {
	text-align: right;
	font-size: 12px;
	margin-right: 102px;
	margin-top: 3px;
	font-family: Minion Pro, Georgia, serif;
}

.text {
	height: 80px;
	width: 700px;
	margin-left: 200px;

}

.firstcharacter {
	font-family: Minion Pro, Georgia, serif;
	font-size: 15px;
	font-weight: bold;
}

.asidebar {
	height: 200px;
	width: 200px;
	margin-left: 200px;
	margin-bottom: 30px;
	display: block;
	float: left;
}

.bsidebar {
	height: 200px;
	width: 200px;
	margin-left: 50px;
	display: block;
	float: left;
}

.csidebar {
	height: 200px;
	width: 200px;
	display: inline-block;
	float: right;
	margin-right: 200px;
}

.sectionhead {
	font-weight: bold;
	font-family: Myriad Pro, Helvetica, sans-serif;
	font-size: 15px;
	color: #CC1100;
}

p {
	font-family: Minion Pro, Georgia, serif;
	font-size: 16px;
}

.footer {
	background-color: #CC1100;
	height: 25px;
	width: 1100px;
	display: inline-block;
	margin-right: auto;
	margin-left: auto;

}

a:link {
	color: #191970;
}

a:visited{
	color: #191970;
}
