.header {
	font-family: 'Gilda Display', serif;
	margin-left: 280px;
	margin-right: auto;
	margin-top: 100px;

}
.rectangle {
	width: 150px;
	height: 150px;
	margin: 20px 0;
	background-color: black;
}

#rectangle-1 {
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
}

#rectangle-2 {
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
}

#rectangle-3 {
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
}

.rectangle-clicked {
	background-color: #8B008B;
}
.rectangle-wide {
	width: 300px;
}
.rectangle-round {
border:2px solid;
border-radius:25px;
}