body {background: black;
    margin: 0;
    color:#222;
    -webkit-font-smoothing: antialiased;
    height: 100%;
}

h1{font-family: 'Geometric Way', sans-serif;
src: "GeometricWay.ttf";
font-weight: 500;}





/* Sliding panels */
.curtains>li {
    background:#FFF;
    /* box-shadow:0 0 12px #666; */
}
    .curtains>li:last-child{box-shadow:none}



/* Section 1 */

#section-1{
    background: black;
    background-size:cover;
    width: 100%;
    height: 100%;
    margin-left: 0;
    top: 0;
    left: 0;
}

    header{
        color:#FFF;
        position:absolute;
        margin-left: 30%;
        text-align:center;
        text-shadow: 0 1px 1px rgba(0, 0, 0, .5);
        line-height:1.1;

    }

    #section-1 h1{
        font-size:120px;

    }

    #section-1 h2{
        text-transform:capitalize;
        
        font-size:48px;

    }

/* Section 2 */
#section-2{
    background: black;
    margin-top: 2px;
    height: 100%;
    color: white;
    font-family: helvetica;
    font-size: 50px;
    opacity:.99; 
}


#map-continents {display:none; float: left; position: fixed; margin-left: 0;}

.sticky {position: fixed; bottom: 0; background: black; font: white; z-index: 10; opacity: .8; width: 100%; height: 0px;
font-family: helvetica; font-size: 14px; text-align: center;
}
.sticky2 {height: 50px;}

video { float: left; position: fixed; z-index: -1; width: 100%; display: none;}
audio { float: left; position: fixed; z-index: -1; width: 100%;}

.none {display: none;}
.sound {z-index: 998; position: fixed; right: 0; display: none;}

.soundoff {z-index: 999; position: fixed; right: 0; display: none;}



@media (max-width: 800px) {

#section-1 h1{
        font-size: 50px;
        margin-top: 100px;}
video { float: left; position: fixed; z-index: -1; max-height: 100%;}


.m1280{width:320px} .m1280 .continents,.m1280 .continents .bg,.m1280 .continents-cities{background:transparent url('cssmap-continents/continents-320.png') no-repeat 0 0} .m1280 .continents,.m1280 .continents-cities{height:165px;width:320px} .m1280 .continents-cities{background-position:-330px 0} .m1280 .continents .m{margin:9999px 0 0 0} .m1280 .continents .m span{font-size:20px !important}
.m1280 .c1.focus .bg,.m1280 .c1.active-region .bg{height:58px;left:126px;top:66px;width:58px}.m1280 .c1.focus .bg{background-position:-170px -341px}.m1280 .c1.active-region .bg{background-position:-520px -341px} .m1280 .c2.focus .bg,.m1280 .c2.active-region .bg{height:103px;left:160px;top:2px;width:109px}.m1280 .c2.focus .bg{background-position:-6px -210px}.m1280 .c2.active-region .bg{background-position:-356px -210px} .m1280 .c3.focus .bg,.m1280 .c3.active-region .bg{height:53px;left:233px;top:85px;width:67px}.m1280 .c3.focus .bg{background-position:-76px -343px}.m1280 .c3.active-region .bg{background-position:-426px -343px} .m1280 .c4.focus .bg,.m1280 .c4.active-region .bg{height:64px;left:123px;top:5px;width:62px}.m1280 .c4.focus .bg{background-position:-259px -336px}.m1280 .c4.active-region .bg{background-position:-609px -336px} .m1280 .c5.focus .bg,.m1280 .c5.active-region .bg{height:91px;left:0;top:0;width:135px}.m1280 .c5.focus .bg{background-position:-154px -211px}.m1280 .c5.active-region .bg{background-position:-504px -211px} .m1280 .c6.focus .bg,.m1280 .c6.active-region .bg{height:60px;left:72px;top:86px;width:40px}.m1280 .c6.focus .bg{background-position:-6px -342px}.m1280 .c6.active-region .bg{background-position:-356px -342px}
.m1280 .c1 a{left:169px;top:96px}.m1280 .c1 a.tooltip-left .tooltip-arrow{left:169px} .m1280 .c2 a{left:218px;top:53px}.m1280 .c2 a.tooltip-right .tooltip-arrow{right:102px} .m1280 .c3 a{left:261px;top:126px}.m1280 .c3 a.tooltip-right .tooltip-arrow{right:59px} .m1280 .c4 a{left:164px;top:62px}.m1280 .c4 a.tooltip-left .tooltip-arrow{left:164px} .m1280 .c5 a{left:69px;top:56px}.m1280 .c5 a.tooltip-left .tooltip-arrow{left:69px} .m1280 .c6 a{left:102px;top:115px}.m1280 .c6 a.tooltip-left .tooltip-arrow{left:102px}

}

