h1{
	font-size: 55px;
	color: #000000;
	text-align: center;
	font-style: regular;
	font-family: didot;
}
h2{
	font-size: 25px;
	color: #000000;
	text-align: center;
	font-style: regular;
	font-family: didot;
}
h3{
	font-size: 25px;
	color: #000000;
	text-align: left;
	font-style: regular;
	font-family: didot;
}
p.itzadescription{
	font-family:didot;
}
p.birddescription{
	font-family:didot;
}
















