body {
	background-color: #FEFEFA;
}

h1 {
	text-align:center;
	font-family: Myriad Pro;
	font-size: 90px;
	color: #880000;
	margin-bottom: 0px;
}

h3 {
	text-align: center;
	font-family: Adobe Caslon Pro;
	color: #880000;
	padding: 0px;
	font-size: 18px;
}

h2 {
	font-family: Myriad Pro;
	color: #880000;
	margin-left: 75px;
	margin-right: 75px;
}

 h4 {
	font-family: Myriad Pro;
	color: #880000;
	margin-left: 75px;
	margin-right: 75px;

}

p {
	font-size: 16px;
	font-family: Garamond;
	margin-left: 75px;
	margin-right: 75px;
}

li {
	font-family: Garamond;
	font-size: 16px;
	margin-left: 75px;
	margin-right: 75px;
}

hr {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 1000px;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

figcaption {
	font-family: Myriad Pro;
	font-size: 13px;
	color: #880000;
	font-weight: bold;
	text-align: center;
}
