body 
	{font-family:Arial;
		background-color: #99659E;}
img {border: 2px solid; border-color: #000000;}
h2	{color: #000000;}
h3 {font-weight: bold;
	color: #550D5C;}
p {color: #2E2E2E;
	width: 600px;}
#ingre 
	{line-height: 0.1em;}

	
