#wrapper {
	background-color: #1F1F1F;
	padding-left: 0px;
	padding-right: 0px;
}

.page {
	width: 1000px;
	height: 5200px;
	margin-left: auto;
	margin-right: auto;
}

#introphoto {
	margin-left: auto;
	margin-right: auto;
	margin-top: 25px;
	position: relative;
	margin-bottom: 60px;
}

h1 {
	position: absolute;
	left: 20px;
	bottom: 400px;
	font-size: 95px;
	font-family: 'News Cycle', sans-serif;
	font-color: black;
	font-weight: bold;

}

h2 { 
	text-align: center;
	position: absolute;
	left: 320px;
	bottom: 425px;
	font-family: 'News Cycle', sans-serif;
	font-size: 32px;
	color: black;
}

.transbox {
	position: absolute;
	height: 135px;
	width: 580px;
	top: 0px;
	left: 0px;
	background-color: black;
	opacity: 0.3;
}

.caption {
	font-size: 12px;
	text-align: right;
	font-family: Minion Pro, Georgia, serif;
	color: #E0E0E0;
	margin-top: 1px;
	margin-right: 2px;
}

#intro {
	width: 675px;
	height: 175px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	font-family: Minion Pro, Georgia, serif;
	font-size: 20px;
	margin-bottom: 125px;
	color: #E0E0E0;
}

.firstline {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 10px;
	text-align: center;
	color: #E0E0E0;
	margin-bottom: 30px;
}

#map {
	margin-left: 180px;
	margin-right: auto;
	margin-top: 50px;
	margin-bottom: 30px;
}

#mapkey {
	width: 540;
	height: 100px;
	margin-bottom: 25px;
	margin-left: auto;
	margin-right: auto;
	font-family: Minion Pro, Georgia, serif;
	color: #E0E0E0;
	font-size: 18px;
	text-align: center;

}

.description {
	width: 375px;
	height: 100px;
	margin-left: 5px;
	color: #E0E0E0;
	font-size: 18px;
}

#one {
	float: left;
	margin-left: 50px;
	margin-bottom: 50px;
}

#two {
	float: right;
	margin-right: 50px;
	margin-bottom: 50px;
}

#three {
	float: left;
	margin-left: 50px;
	margin-bottom: 50px;
}

#four {
	float: right;
	margin-right: 50px;
	margin-bottom: 50px;
}

#five {
	float: left;
	margin-left: 50px;
	margin-bottom: 100px;
}

#six {
	float: right;
	margin-right: 50px;
	margin-bottom: 100px;
}

#seven {
	float: left;
	margin-left: 50px;
	margin-bottom: 100px;
}

#eight {
	float: right;
	margin-right: 50px;
	margin-bottom: 100px;

}

#nine {
	float: left;
	margin-left: 50px;
	margin-bottom: 50px;
}

#ten {
	float: right;
	margin-right: 50px;
	margin-bottom: 50px;
}

.street {
	font-family: 'News Cycle', sans-serif;
	font-weight: bold;
	font-size: 20px;
	margin-top: 5px;
	margin-left: 2px;
	margin-top: 10px;
	color: #E0E0E0;
}

p {
	font-family: Minion Pro, Georgia, serif;
	color: #E0E0E0;
}

#footer {
	width: 1000px;
	height: 20px;
	background-color: #E0E0E0;
	margin-left: auto;
	margin-right: auto;
	color: #1F1F1F;
}

#copyright {
	font-family: Minion Pro, Georgia, serif;
	color: #E0E0E0;
	font-size: 12px;
	margin-left: auto;
	margin-right: auto;
	width: 1000px;
	height: 25px;

}

#copy {
	margin-left: 50px;
}
