html, body {
	
		padding: 0;
		border: 0;
}

.wrapper {
	height:100%;

}

#flickr{
	width: 100%;
	margin-right: 150px;
	position: absolute;
	text-align: center;
	background-color: black;
}

.openingimage {
	text-align: center;
	
	position: absolute;
	margin-left: 150px;
}

#intropic {z-index: 1;}

#apollopic {z-index: 2;}

.openingimage2 {
	margin-top: 20px;
}

.headline {z-index: 5;
position: relative;
/*top: 5%;
left:60%;
top:40px;
padding-top: 80px;
text-align: left;
max-width: 400px;*/
}

#harlemheart
{left:55%;
top:80px;
text-align: right;
max-width: 300px;
}

#heartbeats{
	text-align: right;
}
/*top: 5%;
left:60%;
top:40px;
padding-top: 80px;
text-align: left;
max-width: 400px;*/



.sub2 {width: 960px;
margin-left:10%;
margin-right:10%;}

h1 {
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    line-height: 80px;
    font-size: 85px;
    margin: 0 0 23px 0;
    color:white;
text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    }

h3 {
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    line-height: 50px;
    font-size: 50px;
    margin: 10 0 10px 0;
    color:white;

text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    }

.text {/*float:left;*/
	width:250px;}

	#photos img {
  margin: 10px;
  border: 2px solid #333;
  max-width: 600px;
}

/*.subhead {
padding-top: 40px;
margin-top: 40px;
text-align: left;
width: 900px;
height: 100%;
}*/

.rectangle {
	z-index:4;
	width: 300px;
	position: relative;
top: 5%;
left:15%;
top:50px;
/*padding-top: 80px;*/
text-align: left;
max-width: 400px;
}

.rectangle2 {
	z-index:6;
	width: 600px;
	position: relative;
top:45px;
padding-left: 350px;
text-align: center;
}

.subhead1 {
padding-top: 10px;
margin-top: 10px;
text-align: left;
width: 900px;
height: 100%;
}
h2 {
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    line-height: 100px;
    font-size: 100px;
    margin: 0 0 10px 0;
    color:white;
text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    }

p {
    font-family: 'Alice', serif;
    font-size: 26px;
    font-weight: normal;
    line-height: 26px;
    margin: 0 0 10px 0;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    }

blockquote {font: bold 60px Helvetica;
color: white;
text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
text-align: right;}

.leftcap{
	font: 12px Arial;
	text-align: left;
	margin-top: 20px
}

.rightcap{font: 12px Arial;
	text-align: right;
	margin-top: 15px;}

#blank{background-color: black;}

/*.apolloimage {
	float:right;
}
*/
.clear {
	clear:left;
}

.vertical{
	float:left;
	padding-bottom: 20px;
}

.text2 {float:left;
padding-left: 20px;
z-index: 6;}

.text3 {
	z-index:7;
}

.vertical2{
float: right;
padding-bottom: 20px;
}

.music {float:right;
text-align: right;}

.gladys1 {float:left;
text-align: left}

.headline2 {z-index: 2;
position: relative;
margin-right: 10%;
margin-left:10%;
padding-top: 200px;
margin-top: 40px;
height:430px;
text-align: center;
max-width: 100%;
}

.intro {text-align: right}


@media (max-width: 800px) { 
		h1 {
			font: bold 42px Helvetica;
			color:white; 
		text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;}

	}

@media (max-width: 400px) { 
		h1 {
			font: bold 22px Helvetica;
			color:white; 
		text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;}

	}