html, body {
	
		padding: 0;
		border: 0;

}



/*.wrapper {
    position: absolute;
    width: 500%;
    height: 100%;
    z-index: 0;
}*/

.page {
	height:100%;
	width:1024px;

}

h1 {font-family: 'Lobster', serif;
    font-weight: 900;
    line-height: 100px;
    font-size: 100px;
    margin: 0 0 10px 0;
    color:white;
text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;}

h2 {font-family: 'Lobster', serif;
    font-weight: 900;
    line-height: 100px;
    font-size: 800px;
    margin: 0 0 10px 0;
    color:white;
text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;}

.textbox {z-index:70;
	width: 600px;
top:45px;
padding-left: 350px;
text-align: center;
z-index: 99
}

.wrap {position: absolute}



.box { 
    padding:20px;
    border-radius:5px;
    margin-bottom:20px;
position:fixed; 
    top:50px;left:50px;
    z-index: 999999;
    width:500px; 
    
}

#text {
    background:#444; background:rgba(0,0,0,.6);
padding:20px;
    border-radius:5px;
    margin-bottom:20px;
position:fixed; 
    top:300px;left:50px;)


.wrapper {
	height:100%;
	width:1024px;

}

html, body {
    margin: 0;
    padding: 0;
    color: #fff;
    overflow: hidden;
    font-family: 'Open Sans Condensed', Arial, sans-serif;
    font-weight: 300;
    font-size: 1em;
}

header {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 999;
    color: #fff;
    background: rgba(0,0,0,0.5);
    padding: 60px;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    margin: -200px 0 0 -200px;
    text-align: center;
}

.screen {
    position: relative;
    height: 100%; 
    width: 20%;   /*NOTE:numVideos/100%  */
    float: left;
    overflow: hidden;
}
.big-image {
    min-width: 100%;
    min-height: 100%; 
    height: auto;
    width: auto; 
}

.video-title {
    position: absolute;
    bottom: 5%;
    left: 5%;
    opacity: .5;
    margin: 0;
    padding: 0;
    line-height: .65;
    font-size: 4em;
    text-transform: uppercase;
}

nav {
    position: absolute;
    right: 5%;
    top: 45%;
    padding: 20px;
    background: #000;
    border-radius: 40px;
    opacity: .4;
    cursor: pointer;
    z-index: 1000;
}

nav:hover {
    opacity: .6;
}

.next-icon {
    display: block;
    border-top: solid 2px #fff;
    border-right: solid 2px #fff;
    width: 20px;
    height: 20px;
    position: relative;
    left: -5px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    color: #fff;
    text-decoration: none;



html { 
  background: url(lunchesscreen.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

video#bgvid {
position: fixed; right: 0; bottom: 0;
max-width: 1024px; min-height: 100%;
width: auto; height: auto; z-index: -100;
background: url(lunchesscreen.jpg) no-repeat;
background-size: cover;
volume:0;
position: absolute;
/*display: block; }*/

/** {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    color: #fff;
    background: #111;
    overflow: hidden;
    font-family: 'Open Sans Condensed', Arial, sans-serif;
    font-weight: 300;
    font-size: 1em;
}

.wrapper {
    position: absolute;
    width: 500%;
    height: 100%;
    z-index: 0;
}

/* Text */

h1,
h2 {
    margin: 0;
    padding: 0;
    text-shadow: 1px 1px 1px rgba(0,0,0,.5);
}

p {
    line-height: 1.4;
    text-shadow: 1px 1px 1px #000;
}

a,
a:visited {
    color: #fff;
    text-decoration: none;
}

a:hover {
    color: #40a5c6;
}

h1 a,
h1 a:hover,
h1 a:visited {
    text-decoration: none;
}

p a {
    font-weight: 700;
}

/* Header */

header {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 999;
    color: #fff;
    background: rgba(0,0,0,0.5);
    padding: 60px;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    margin: -200px 0 0 -200px;
    text-align: center;
}

header h1 {
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
    padding: 0 0 10px 0;
    font-size: 1.7em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.8);
}

header h1 span {
    font-weight: 300;
}

header p {
    font-family: Cambria, Georgia, serif;
    font-style: italic;
}
*/
/* Video Pages */

.screen {
    position: relative;
    height: 100%;
    width: 20%; /*  NOTE: numVideos/100%  */;
    float: left;
    overflow: hidden;
}

.big-image {
    min-width: 100%;
    min-height: 100%;
    height: auto;
    width: auto;
}

.video-title {
    position: absolute;
    top: 5%;
    right: 5%;
    opacity: .5;
    margin: 40px 0 0 0;
    padding: 0;
    line-height: .65;
    font-size: 4em;
    text-transform: uppercase;
}

/* Nav */


}

/* Codrops Header Style */
.codrops-top {
    line-height: 24px;
    font-size: 11px;
    background: #fff;
    background: rgba(255, 255, 255, 0.5);
    text-transform: uppercase;
    z-index: 9999;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    font-family: Cambria, Georgia, serif;
    box-shadow: 1px 0px 2px rgba(0,0,0,0.2);
}
.codrops-top a {
    padding: 0px 10px;
    letter-spacing: 1px;
    color: #333;
    display: inline-block;
    text-decoration: none;
}
.codrops-top a:hover {
    background: rgba(255,255,255,0.4);
}
.codrops-top span.right{
    float: right;
}
.codrops-top span.right a{
    float: left;
    display: block;
}
/* End Codrops Header Style */