html, body {
	
		padding: 0;
		border: 0;
}



.wrapper {
	height:100%;
	width:1024px;

}

/*html { 
  background: url(lunchesscreen.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}*/

video#bgvid {
position: fixed; right: 0; bottom: 0;
max-width: 1024px; min-height: 100%;
width: auto; height: auto; z-index: -100;
background: url(lunchesscreen.jpg) no-repeat;
background-size: cover;
volume:0;
position: absolute;
/*display: block;*/ }