
    body{
      background-color: white;
    }
#page{ 
width: 100%;
height: 100%;
}
 #quote2{
         font-family: georgia;
         font color: white;
         position:absolute;
         left:3px;
         bottom:200px;
         background: black;
         background: rgba(0, 0, 0, 0.3);
         padding:10px;
         text-align:center;
         line-height:50;
         width: 100%;
     }


     #quote3{
         font-family: georgia;
         position:absolute;
         left:3px;
         bottom:200px;
         font color: white;
         background: black;
         background: rgba(0, 0, 0, 0.3);
         padding:10px;
         text-align:center;
         line-height:50;
          width: 100%;
     }

#quote4{
         font-family: georgia;
         font color: white;
         position:absolute;
         left:3px;
         bottom:200px;
         background: black;
         background: rgba(0, 0, 0, 0.3);
         padding:10px;
         text-align:center;
         line-height:50;
         width: 100%;
     }

     #quote5{
      font-family: georgia;
         font color: white;
         position:absolute;
         left:3px;
         bottom:200px;
         background: black;
         background: rgba(0, 0, 0, 0.3);
         padding:10px;
         text-align:center;
         line-height:50;
         width: 100%;
     }

#quote6{
 font-family: georgia;
         font color: white;
         position:absolute;
         left:3px;
         bottom:200px;
         background: black;
         background: rgba(0, 0, 0, 0.3);
         padding:10px;
         text-align:center;
         line-height:50;
         width: 100%;
     }

     #quote7{
    font-family: georgia;
         font color: white;
         position:absolute;
         left:3px;
         bottom:200px;
         background: black;
         background: rgba(0, 0, 0, 0.3);
         padding:10px;
         text-align:center;
         line-height:50;
         width: 100%;
     }

     #quote8{
   font-family: georgia;
         font color: white;
         position:absolute;
         left:3px;
         bottom:200px;
         background: black;
         background: rgba(0, 0, 0, 0.3);
         padding:10px;
         text-align:center;
         line-height:50;
         width: 100%;
     }

     .bq3 { width: 300px; background: url('http://i47.tinypic.com/a9l0g3.png') top left no-repeat; padding-left: 55px; line-height: 50px; color: white; position:relative;}
    


     #header{
      
         position:relative;
         text-align:center;
         font-size:80px;
         font-family: georgia;
         position:absolute;
         left:0px;
         bottom:0px;
         background: black;
         background: rgba(0, 0, 0, 0.5);
         padding:10px;
         color:white;
         width: 100%;
         }

         

     #credit{
      position:relative;
      font:40px bold helvetica;
      left:50px;
      bottom:0;
      color:white;
      width: 100%;
     }

     #juicebar{
      position:absolute;
      left:0px;
      top:0px;
      z-index:-4;     

     }

     #image1 {
      position:static;
      margin:0;
      padding:5;
      float:left;
      width: 100%;
      margin:0;
     }


     #image2{
      position:relative;
      margin:0;
      padding:5;
      float:left;
      width: 100%;
     }
       #image3{
      position:relative;
      width: 100%;
     }

     #image4{
      position:relative;
      width: 100%;

     }
     #image5{
      position:relative;
      margin:0;
      padding:5;
      float:left;
      width: 100%;
     }

     #image6{
      position:relative;
      margin:0;
      padding:5;
      float:left;
      width: 100%;
     }
#image7{
      position:relative;
width: 100%;
     }
     #image8{
      position:relative;
width: 100%;
     }

#box1{
      position:relative;
      margin:0;
      padding:5;
      float:left;
      width: 300;
     }

     #article{
      position:relative;
      margin:0;
      padding:5;
      float:left;
     }

    


    #footer{
        border-top: 1px solid #333;
     }

    #article{
  
        font: 20px helvetica;
        text-align:left;

      }

      #header2{
        padding-top:5px;
        font: 50px helvetica;
      }
      #map{
        padding:10px;
      }
       #video{
        padding:10px;
      }

 @media all and (max-width: 800px){

  #page {background-color: white;
		width: 50%;
		height: 50%;}

#image1 {max-width: 50%;
		max-height: 50%;
		margin-left: 5%;
		margin-bottom: 50%;
		background-size: 50%;

		}
#image2 {max-width: 50%;
		max-height: 50%;
		margin-left: 5%;
		margin-bottom: 50%;
		background-size: 50%;
		}

#image3 {max-width: 100%;
		max-height: 100%;
		margin-left: 5%;
		margin-bottom: 150px;
		background-size: 200%;
		}

#image4 {max-width: 100%;
		max-height: 100%;
		margin-left: 5%;
		margin-bottom: 150px;
		background-size: 200%;
		}

#image5 {max-width: 100%;
		max-height: 100%; 
		margin-left: 5%;
		margin-bottom: 150px;
		background-size: 200%;
		}

#image6 {max-width: 100%;
		max-height: 100%;
		margin-left: 5%;
		margin-bottom: 150px;
		background-size: 200%;
		}

#image7 {max-width: 100%;
		max-height: 100%;
		margin-left: 5%;
		margin-bottom: 150px;
		background-size: 200%;
		}

#image8 {max-width: 100%;
		max-height: 100%;
		margin-left: 5%;
		margin-bottom: 150px;
		background-size: 200%;
		}


        #article{
  
        font: 16px helvetica;
        text-align:left;

      }
#quote2{
         font-family: helvetica;
         font color: white;
         position:absolute;
         left:3px;
         bottom:100px;
         background: black;
         background: rgba(0, 0, 0, 0.3);
         padding:5px;
         text-align:center;
         line-height:25;
         width: 50%;
     }


     #quote3{
        font-family: helvetica;
         font color: white;
         position:absolute;
         left:3px;
         bottom:100px;
         background: black;
         background: rgba(0, 0, 0, 0.3);
         padding:5px;
         text-align:center;
         line-height:25;
         width: 50%;
     }

#quote4{
        font-family: helvetica;
         font color: white;
         position:absolute;
         left:3px;
         bottom:100px;
         background: black;
         background: rgba(0, 0, 0, 0.3);
         padding:5px;
         text-align:center;
         line-height:25;
         width: 50%;
     }

     #quote5{
     font-family: helvetica;
         font color: white;
         position:absolute;
         left:3px;
         bottom:100px;
         background: black;
         background: rgba(0, 0, 0, 0.3);
         padding:5px;
         text-align:center;
         line-height:25;
         width: 50%;
     }

#quote6{
 font-family: helvetica;
         font color: white;
         position:absolute;
         left:3px;
         bottom:100px;
         background: black;
         background: rgba(0, 0, 0, 0.3);
         padding:5px;
         text-align:center;
         line-height:25;
         width: 50%;
     }

     #quote7{
   font-family: helvetica;
         font color: white;
         position:absolute;
         left:3px;
         bottom:100px;
         background: black;
         background: rgba(0, 0, 0, 0.3);
         padding:5px;
         text-align:center;
         line-height:25;
         width: 50%;
     }

     #quote8{
  font-family: helvetica;
         font color: white;
         position:absolute;
         left:3px;
         bottom:100px;
         background: black;
         background: rgba(0, 0, 0, 0.3);
         padding:5px;
         text-align:center;
         line-height:25;
         width: 50%;
     }

     .bq3 { width: 150px; background: url('http://i47.tinypic.com/a9l0g3.png') top left no-repeat; padding-left: 25px; line-height: 25px; color: white; position:relative;}
    


     #header{
      
         position:relative;
         text-align:center;
         font-size:40px;
         font-family: georgia;
         position:absolute;
         left:50px;
         bottom:0px;
         background: black;
         background: rgba(0, 0, 0, 0.5);
         padding:5px;
         color:white;
         width: 45%;
         }

         

     #credit{
      position:relative;
      font:20px bold helvetica;
      left:25px;
      bottom:0;
      color:white;
      width: 45%;
     }

     #juicebar{
      position:absolute;
      left:0px;
      top:0px;
      z-index:-4;     

     }

      #header2{
        padding-top:5px;
        font: 50px helvetica;
      }
      #map{
        padding:10px;
        max-width: 100%;
		max-height: 100%;
      }
       #video{
        padding:10px;
        max-width: 100%;
		max-height: 100%;
      }
 


