#header {color: white; 
			background-color: #7A005C;
			height: 150px;
			width: 800px;
			margin-right: 50px;
			margin-left: 50px;
			margin-top: 10px;
			font-size:30px;
			font-family: Times;
			text-align: center;
			border-style: solid;
			border-width: 5px;
			border-color: #660066;
			font-family: Helvetica;
			font-weight: lighter;}
.ingredients {color: #660066; 
			font-family: helvetica;
			float: left;
			background-color: #FFFFE0;
			margin-right: 5px;
			margin-left: 40px;
			width: 400px;
			height: 300px;
			font-size: 12px;
			border-style: solid;
			border-width: 3px;
			border-color: #660066;}
.ingredients2 {color: #660066; 
			font-family: helvetica;
			float: left;
			background-color: #FFFFE0;
			margin-right: 5px;
			margin-left: 40px;
			width: 400px;
			height: 300px;
			font-size: 12px;
			border-style: solid;
			border-width: 3px;
			border-color: #660066;}
.directions {background-color: #FFFFE0; 
			color: #660066;
			font-family: helvetica;
			float: right;
			margin-right: 40px;
			font-size: 12px;
			width: 400px;
			height: 300px;
			border-style: solid;
			border-width: 3px;
			border-color: #660066;}
.headline {font-family: Georgia;
			font-size: 18px;
			text-align: center;}
.page {height: 1800px;
		width: 1800px;
		background-color: #DDDDDD;}
.border {height: 1200px;
			width: 50%;
			background-color: white;
			margin-left: 175px;
			margin-right: 175px;
			border-style: solid;
			border-width: 3px;
			border-color: #660066;}
	body {background-color: #DDDDDD;}
.title {color: #660066;
			margin-top: 50px;
			text-align: center;
			font-size: 30px;}
#PBC {margin-top: 350px;}