
html,body {margin:0;
padding:0;
border:0;
}


#page {

height: 10000px;
margin-top: 10px;
margin-bottom: 10px;

}

#border {
border: 5px solid #4797CC;
height:10000px ;


}
#header {
	text-align: left;
	font-family: Comic Sans, Georgia ;
	font-size: 15px;
	font-weight: bold;
	margin-bottom: 25px;
	margin-top: 20px;
}
