body{
	line-height: 1.1em;
	letter-spacing: 0.005em;
	text-align: left;
	background-color: #A37953;
}

.recipe{
	float:left;
	border:3px solid black;
	background-color: white;
	background-color: rgba(255,255,255,0.4);
}

.inside{
	width:90%;
	margin-left:10px;
	padding:10px;
}

.cookies{
	width: 47%;
	margin: 10px;
	padding-left:5px;
}

.icecream{
	width:47%;
	margin:10px;
	padding-left:5px;
}

h1{
	font-family: Impact;
	font-size: 24px;
	text-transform: uppercase;
	text-shadow: 1px 1px 1px gray;

}

h2{font-family: Arial, verdana, sans-serif;
	font-size: 18px;
	text-transform: uppercase;
}

ul,ol{font-family: Arial,verdana,sans-serif;
      font-size: 15px
  }
