body {
     	background-color: white;
}

h1 {
     	text-align: center;
     	font-size: 60px;
     	font-family: acknowledgement, rockwell, serif;
     	text-transform: capitalize;
     	font-weight: lighter;
}

h2 {
	text-align: left;
	font-family: acknowledgement, rockwell, serif;
	font-weight: lighter;
	font-size: 24px;
}
p {
	text-align: justify;
}

b {
	font-size: 30px;
}

img {
	margin-bottom: 50px;
}
