html,body {margin:0;
padding:0;
border:0;
}

body {
font-family: Comic Sans,Georgia,;
background-color: 0C67C2;
}

.outerbox {width: 1100px;
height: 4400px;
margin-top: 50px;
margin-right:70px;
margin-left: 50px;
padding-left: 10px;
padding-right: 10px;
border-top: 10px;
border-left: 10px;
border-right:10px;
background-color: #FFFFFF;
}

.iconbox { width:10px;
		height: 10px;
		margin-right: 5px;
		margin-top: 5px;
		margin-left: 5px;
		margin-bottom: 5px;
		background-color:#FFFFFF;
		padding-bottom: 20px;
		font-style: Helvetica;
		font-size: 20px
	}



.header2 {font-family: Georgia, Helvetica;
	font-size: 15px;
	font-weight: 500; 
}

.innerbox2 {width: 500px;
	height: 50px;
	margin-top: 450px;
	margin-right: 200px;
	margin-left: 200px;
	margin-bottom: 200px;
	text-align: right;
	padding-top: 20px;
	float: right;
	}


	.image1 {height: 50px;
width:50px;
border-left: 10px white;
border-top: 10px white #3366FF;
border-right: 10px #3366FF;
margin-right: 20px;
margin-left: 5px;
margin-top: 5px;
margin-bottom: 5px;
padding-left: 5%;
padding-right:5%;
float: left;

}

hr { width: 50%;
	size: 6;
	color: yellow;
}



.iconbox1{width:2px;
		height: 2px;
		margin-right: 10px;
		margin-top: 725px;
		margin-left: 25px;
		margin-bottom: 5px;
		background-color:#FFFFFF;
		padding-bottom: 10px;
		font-style: Helvetica;
		font-size: 20px;
		text-align: left;
	}


	.imagebox2 {width: 100px;
height: 100px;
margin-top: 40px;
}

	.image2 {height: 500px;
width:600px;
border-left: 5px white;
border-top: 5px white #3366FF;
border-right: 5px #3366FF;
margin-right: 5px;
margin-left: 5px;
margin-top: 25px;
margin-bottom: 5px;
padding-left: 5%;
padding-right:5%;
padding- top: 5%;
float: left;
}


	.imagebox3 {width: 25px;
height: 25px;
}

.image3 {height: 500px;
width:600px;
border-left: 5px white;
border-top: 5px white #3366FF;
border-right: 5px #3366FF;
margin-right: 5px;
margin-left: 5px;
margin-top: 10px;
margin-bottom: 5px;
padding-left: 5%;
padding-right:5%; 
padding- top: 5%;

}
.innerbox3 {width: 500px;
	height: 200px;
	margin-top: 5px;
	margin-right: 25px;
	margin-left: 25px;
	margin-bottom: 25px;
	text-align: right;
	padding-top: 5px;
	float: right;
	
	}




.innerbox4 {width: 500px;
	height: 250px;
	margin-top: 5px;
	margin-right: 25px;
	margin-left: 25px;
	margin-bottom: 25px;
	text-align: right;
	padding-top: 5px;
	float: right;
	}

.image4 {height: 450px;
width:600px;
border-left: 5px white;
border-top: 5px white #3366FF;
border-right: 5px #3366FF;
margin-right: 5px;
margin-left: 5px;
margin-top: 50px;
margin-bottom: 5px;
padding-left: 5%;
padding-right:5%; 
padding- top: 5%;

}

.iconbox2{width:2px;
		height: 2px;
		margin-right: 10px;
		margin-top: 275px;
		margin-left: 25px;
		margin-bottom: 5px;
		background-color:#FFFFFF;
		padding-bottom: 10px;
		font-style: Helvetica;
		font-size: 20px;
		text-align: left;
	}


.innerbox5 {width: 500px;
	height: 250px;
	margin-top: 2px;
	margin-right: 25px;
	margin-left: 25px;
	margin-bottom: 25px;
	text-align: right;
	padding-top: 5px;
	float: right;
	}

	#firstletter { font-size: 25px;
		font-weight: 800px;
		text-align: left;
		margin-bottom: 2px;
		font-style: Georgia;
		color: 0C67C2;

	}
