.outerbox{
	width: 1000px;
	height: 5000px;
}

.headerphoto {
	width: 1024px;
	height: 396px;
	background-image: url("images/header photo.jpg");
	background-repeat: no-repeat;
}


.headline {
	vertical-align: bottom;
}

h1 {
	color: white;
	font-family: Helvetica, sans-serif;
	font-weight: normal;
	font-size: 100px;
	text-align: center;
	margin: 0px;
	padding: 0px;
	border: 0px;
}

h2 {
	font-family: "Baskerville", Times, serif;
	font-size: 30px;
	margin-left: 15px;
	margin-bottom: 0px;
}

h3 {
	font-family: Times, serif;
	font-size: 18px;
	margin-left: 25px;
	margin-top: 0px;
}

h4 {
	font-family: Georgia; serif;
	font-size: 12px;
	text-align: center;
	color: white;
	margin: 0px;
	padding: 0px;
	border: 0px;
}

p {
	font-family: Georgia, serif;
	text-align: left;
	margin: 15px;
}

.section {
	height: 500px;
	width: 1024px;
	margin-top: 30px;
	margin-bottom: 30px;
	border-top: 1px solid black;
}

.location {
	width: 341px;
	height: 500px;
	float: left;
}

.text {
	width: 341px;
	height: 500px;
	float: left;
}

.photo {
	width: 342px;
	height: 500px;
	float: left;
	margin: 0px;
}

.photocredit {
	font-size: 10px;
	margin-top: 0px;
	margin-bottom: 10px;
}

.footer {
	padding: 20px;
}