body{
	font-family:georgia,times,serif;
	max-width: 100%;
}

audio{
	width: 88px;
}

.bold{
	font-weight: bold;
}

.show1,.show2,.show3,.show4,.show5,.show6{
	font-size: 13px;
	color: #06648A;
}

.esbtweet{
	font-size: 13px;
	color: #06648A;
	font-weight: bold;
}

.tweet{
	display: none;
}

#flicker2 img {
  margin: 10px;
  border: 1px solid #333;
}

#temp{
	color: #06648A;
}
#back{
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	right: 0px;
}

#image{
	width: 100%;
    height: 100%;
    top: 0px;
	left: 0px;
	right: 0px;
	position: absolute;
}

#imagesmall{
	display:none;
}

.credit{
	margin-top: 10px;
	font-size: 13px;
	color: gray;
	font-size: lighter;
	text-align: right; 
	max-width: 100%;
}

#media img{
	float:left;
	width: 30px;
	max-width: 100%;
}

#facebook img{
    margin-left: 30px;
}

#twitter img{
    padding-left: 10px;
    padding-right: 10px;
}

#header{
	margin-top: 10px;
	margin-left:50px;
}

.capital{
    font-size: 80px;
    padding-right: 8px;
    padding-bottom: 10px;
    max-width: 100%;
}

.intro1{
	font-size: 20px;
	font-weight: lighter;
	line-height: 30px;
	width: 790px;
	text-align: left;
	margin-bottom: 30px;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
}

#intro{
	margin-top: 4%;
	margin-left: auto;
	margin-right: auto;
}

.map{
	margin-left: 250px;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	width: 630px;
}

.intro2{
	width: 790px;
	font-size: 20px;
	font-weight: lighter;
	line-height: 30px;
	margin-top: 30px;
	margin-bottom: 30px;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.float{
	margin-left: auto;
	margin-right: auto;
	width: 790px;
}

.floatone{
	float: left;
}

.phcreone{
	width: 310px;
	margin-top: 20px;
}

#credit1{
	font-size: 13px;
	color: gray;
}

.intro3{
	font-size: 20px;
	font-weight: lighter;
	line-height: 30px;
	margin-bottom: 30px;
	margin-left: 30px;
	width: 450px;
}

.intro4{
	width: 510px;
	font-size: 20px;
	font-weight: lighter;
	line-height: 30px;
	margin-bottom: 40px;
	margin-right: 30px;
}

.phcretwo{
	width: 240px;
	margin-top: 10px;
}

#credit2{
	font-size: 13px;
	color: gray;
}

.hr2{
   border:0;
   width: 50%;
   margin-left: 30px;
}

.movie, .light{
	font-size: 20px;
	font-weight: lighter;
	line-height: 30px;
	text-align: left;
	margin-bottom: 30px;
	margin-top: 50px;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	width: 790px;
}

.youtube{
	margin-bottom: 30px;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	width: 560px;
}

.caption{
	font-size: 15px;
	font-weight: lighter;
	line-height: 30px;
	margin-bottom: 30px;
	color:gray;
	max-width: 100%;
}

.floatlight{
	margin-left: auto;
	margin-right: auto;
	width: 790px;
}

.light1{
	text-align: left;
	font-size: 20px;
	font-weight: lighter;
	line-height: 30px;
	max-width: 100%;
	width: 300px;
	margin-right: 30px;
}

.light2{
	font-size: 20px;
	font-weight: lighter;
	line-height: 30px;
	width: 790px;
	text-align: left;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
	margin-top: 30px;
	max-width: 100%;
}

.light3{
	font-size: 16px;
	font-weight: lighter;
	line-height: 30px;
	width: 790px;
	text-align: left;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
	margin-top: 30px;
	max-width: 100%;
}

.tweet{
    margin-bottom: 30px;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	width: 530px;
}


a:link {
	color: #06648A;
}

a:visited{
	color: #06648A;
}

.show1:hover{
color: gray;
}

.show2:hover{
color: gray;
}

.show3:hover{
color: gray;
}

.show4:hover{
color: gray;
}

.show5:hover{
color: gray;
}

.show6:hover{
color: gray;
}

.esbtweet:hover{
	color:gray;
}

.bold{
	font-weight: bold;
}

.opening2, .suicide2, .shooting2, .deck2, .broadcast2, #flicker2{
	font-size: 20px;
	font-weight: lighter;
	line-height: 30px;
	width: 790px;
	text-align: left;
	margin-bottom: 30px;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	display: none;
}

.opening1, .suicide1, .shooting1, .deck1, .broadcast1, #flicker1{
	font-size: 25px;
	line-height: 30px;
	width: 790px;
	text-align: left;
	margin-bottom: 30px;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	font-weight: bold;
}

.map2{
	display: none;
}

.youtube2{
	display: none;
}

.slideshow1{
	display: none;
}


@media (max-width: 480px){

#image{
display:none;
}

#imagesmall{
	width: 100%;
    height: 100%;
    top: 0px;
	left: 0px;
	right: 0px;
	position: absolute;
	display: block;
}

#header{
display: none;
}

#media img{
	width: 20px;
	margin-bottom: 30px;
}
#facebook img{
	margin-left: 0px;
}

.captial{
	font-size: 10px;
}

#intro{
	margin-top: 80px;
}

.map2{
	display: block;
}

.map{
	display: none;
}

.youtube2{
	display: block;
}

.youtube{
	display: none;
}

.slideshow1{
	display: block;
}

.slideshow{
	display: none;
}

.photo1, .photo2{
	margin-left: 0px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.credit1, .credit2{
	margin-left: 0px;
}

.intro3{
	margin-top: 30px;
}

.hr2{
	margin-top: 40px;
}

.intro3, .intro4{
	margin-left: 0px;
	width: 50%;
}

.intro1, .intro2, .intro3, .intro4, .movie, .light, .light1, .light2{
	font-size: 15px;
}

.light3{
	font-size: 12px;
}

.light1{
	width: 440px;
}

.opening2, .suicide2, .shooting2, .deck2, .broadcast2, .flicker2{
	font-size: 15px;
}

.opening1, .suicide1, .shooting1, .deck1, .broadcast1, .flicker1{
	font-size: 20px;
}

.show1,.show2,.show3,.show4,.show5,.show6, .esbtweet{
	font-size: 10px;
	color: #06648A;
}

.floatone{
	float: none;
}

.youtube{
	margin-left: 0px;
	margin-bottom: 30px;
}

.caption{
	font-size: 10px;
	margin-bottom: 30px;
}

.tweet{
    margin-bottom: 30px;
    margin-left: 0px;
}
