body{
	font-family:georgia,times,serif;
	max-width: 100%;
}

#back{
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	right: 0px;
}

#image{
	width: 100%;
    height: 100%;
    top: 0px;
	left: 0px;
	right: 0px;
	position: absolute;
}

.credit{
	margin-top: 10px;
	font-size: 13px;
	color: gray;
	font-size: lighter;
	text-align: right; 
	max-width: 100%;
}

#media img{
	float:left;
	width: 30px;
	max-width: 100%;
}

#facebook img{
    margin-left: 30px;
}

#twitter img{
    padding-left: 10px;
}

.capital{
    font-size: 80px;
    padding-right: 8px;
    padding-bottom: 10px;
    max-width: 100%;
}

.intro1{
	font-size: 20px;
	font-weight: lighter;
	line-height: 30px;
	width: 790px;
	text-align: left;
	margin-bottom: 30px;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.intro{
	margin-top: 6%;
	margin-left: auto;
	margin-right: auto;
}

.map{
	margin-left: 250px;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	width: 630px;
}

.intro2{
	width: 790px;
	font-size: 20px;
	font-weight: lighter;
	line-height: 30px;
	margin-top: 30px;
	margin-bottom: 30px;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.float{
	margin-left: auto;
	margin-right: auto;
	width: 790px;
}

.floatone{
	float: left;
}

.phcreone{
	width: 310px;
	margin-top: 20px;
}

#credit1{
	font-size: 13px;
	color: gray;
}

.intro3{
	font-size: 20px;
	font-weight: lighter;
	line-height: 30px;
	margin-bottom: 30px;
	margin-left: 30px;
	width: 450px;
}

.intro4{
	width: 510px;
	font-size: 20px;
	font-weight: lighter;
	line-height: 30px;
	margin-bottom: 40px;
	margin-right: 30px;
}

.phcretwo{
	width: 240px;
	margin-top: 10px;
}

#credit2{
	font-size: 13px;
	color: gray;
}

.hr2{
   border:0;
   width: 50%;
   margin-left: 30px;
}

.movie{
	font-size: 20px;
	font-weight: lighter;
	line-height: 30px;
	text-align: left;
	margin-bottom: 30px;
	margin-top: 50px;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	width: 790px;
}

.youtube{
	margin-bottom: 30px;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	width: 560px;
}

.caption{
	font-size: 15px;
	font-weight: lighter;
	line-height: 30px;
	margin-bottom: 30px;
	color:gray;
	max-width: 100%;
}

.floatlight{
	margin-left: auto;
	margin-right: auto;
	width: 790px;
}

.light1{
	text-align: left;
	font-size: 20px;
	font-weight: lighter;
	line-height: 30px;
	max-width: 100%;
	width: 300px;
	margin-right: 30px;
}

.light2{
	font-size: 20px;
	font-weight: lighter;
	line-height: 30px;
	width: 790px;
	text-align: left;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
	margin-top: 30px;
	max-width: 100%;
}

.tweet{
    margin-bottom: 30px;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	width: 530px;
}

a:link {
	color: #06648A;
}

a:visited{
	color: #06648A;
}

@media (max-width: 480px){
#media img{
	width: 20px;
}
#facebook img{
	margin-left: 0px;
}

.captial{
	font-size: 25px;
}

.intro{
	margin-top: 15%;
}

.intro1, .intro2, .intro3, .intro4, .movie, .light1, .light2{
	font-size: 15px;
	margin-left: 0px;
	width: 480px;
}

.floatone{
	float: none;
}

.map{
	margin-left: 0px;}

.photo1, .photo2{
	margin-left: 0px;
	margin-top: 5px;
	margin-bottom: 5px
}

.credit1, .credit2{
	margin-left: 0px;
	margin-bottom: 5px;
}

.youtube{
	margin-left: 0px;
	margin-bottom: 30px;
}

.caption{
	font-size: 10px;
	margin-bottom: 30px;
}
.tweet{
    margin-bottom: 30px;
	margin-left: 0px;
}
}
